[2012-02-25 13:42] meiersi opened #1 "Clicking on proof method changes focus wrongly"
Most of the the times, when clicking on a proof method in the HTML GUI, the focus does not change in the same way, as when executing the proof method using the keyboard shortcuts. The detail view shows the standard startup page instead of the next open branch in the proof.

This should be fixed. The desired behavior is the one implemented for the keyboard shortcuts.

[2012-03-04 17:08] meiersi opened #2 "Testing the command-line interface"
This is issue is currently more a reminder than a concrete plan.

I noticed the [`shelltestrunner`](http://hackage.haskell.org/package/shelltestrunner) tool, which could provide a nice way to test our command-line interface.

[2012-03-04 17:10] meiersi opened #3 "Faster normal-form computation"
As indicated by the profiling at the end of February, we spend more than 50% of the proof construction time on normalizing the terms due to our reliance on `maude` for this task. We should see a large speedup by implementing this functionality directly in Haskell.

[2012-03-28 09:24] #3 closed, assigned to beschmi

[2012-03-28 09:25] meiersi opened #4 "Differentiate between linear and persistent arrows"
Use a different arrow type for persistent and linear arrows.

[2012-03-28 12:51] meiersi opened #5 "Allow invariants to reference conclusions of construction rules"
Key wrapping like it is used in the PKCS#11 system requires stronger invariants to reason about the effect of handles. These invariants must be able to reference the deduced messages. Here, we follow the direct approach of logging the conclusion of every construction rule as a `Ded(m)` fact. Formulas referencing such facts denote invariants of _normal dependency graphs_.

In our constraint systems

[2012-03-29 15:59] meiersi opened #6 "Use `attoparsec` for maude response parsing"
This should speed up tamarin a bit more.

[2012-03-29 16:03] meiersi opened #7 "Improve equation store simplification"
Benedikt has some further ideas on how to speed this up.

[2012-03-29 16:14] meiersi opened #8 "Update user guide and README"
The user guide has a few mistakes (`Init_1` instad of `Client_1`) and I'm not sure if it has a proper explanation of the induction stuff. Check this before the release.

Moreover, we could also add the `TLS.spthy` handshake and NSL to get people going a bit easier.

The installation instructions in the README should be synchronized with the ones on the website.

[2012-03-29 17:09] meiersi opened #9 "Properly parse Unicode input"
The lexer is currently based on `alex` and has trouble parsing Unicode tokens. Moreover, some operators allow internal spacing, which is rather strange. Switching to a `parsec` based solution will allow us to simplify the code and tighten the grammar.

[2012-03-29 17:11] beschmi opened #10 "Check CSF examples and add a few more example protocols."
For example JKL_TS3_2008 hardcodes '1' and '2' and it it seems like this should be the sorted identities.

It would also be cool to have some more finished and documented protocol models that we can publish with the tool in order to get our users up to speed more easily. I'm thinking TLS handshake, NSL3, minimal wrapping example with a comment on our future work (induction invariants).

[2012-03-29 17:12] meiersi opened #11 "Introduce user defined sorts"
We would like to allow for user defined sorts and a user-defined sort hierarchy. We do not plan to support overloaded functions; i.e., all functions must work on top-level sorts. The planned syntax is the following.

[code]

Once we have this change, we'll introduce a sort `fact` and require the user to define all fact symbols explicitly. We can then get rid of the `Fact.hs` module.

[2012-03-29 17:15] meiersi opened #12 "Introduce a `safe` proof method"
In the user interface, we often just want to expand all non-case-split goals. We therefore would like to introduce a further menu item that calls a corresponding safe proof method.

[2012-03-29 19:44] #4 closed, assigned to meiersi

[2012-03-29 19:49] meiersi opened #13 "Different instances of the ISend rule"
We are programmatically producing different `ISend` rule instances. This is a possible soundness bug. Fix and ensure that for every built-in rule there is exactly one function to create it.

[2012-03-30 10:30] meiersi opened #14 "Protocol specification v2.0 (incremental patch)"
The current protocol specification format has some shortcomings that hamper further experimentation with proving and reusing inductive invariants and with exploiting filtering constructions in a more general way. This also reflects in the internal data structures representing security protocol theories. The following is an example outline of the extended/new protocol specification format. Afterwar

[2012-03-31 18:32] meiersi opened #15 "DH-intruder variants generation generates different file"
The intruder variants generation using `tamarin-prover variants -O.` generates a different file than the one we currently have in `data/dh_intruder_variants.spthy`. Do you know the reason for that @beschmi ?

[2012-04-02 10:37] #15 closed, assigned to beschmi

[2012-04-02 18:22] #7 closed, assigned to beschmi

[2012-04-02 20:16] #13 closed, assigned to meiersi

[2012-04-02 20:20] meiersi opened #16 "Integrate reference to git tag into tamarin-prover upon build"
It is just too painful to not know which repository version was used to build a release of `tamarin-prover` and its utility libraries. There's some code lying around. We should make good use of it.

[2012-04-05 12:12] cascremers opened #17 "Interactive proof HTML should check wether Javascript is enabled/supported"
If Tamarin is started in interactive mode, but the browser does not support Javascript, the layout collapses to a mess without warning.

This can occur also for recent browsers with Javascript-disabling extensions (e.g. noscript).

In this case, we should give the user a fair warning instead of letting him guess what the cause of the broken page is.

[2012-04-05 12:15] cascremers opened #18 "Allow for "partial" or "bounded" proofs that have a meaningful interpretation."
Currently, if we don't get a proof and we don't get an attack there's not much we can say. It would be nice to have a bounded result similar to Scyther's bounded verification.

Simon has worked on some ideas for making node identifiers unique that might address this issue.

[2012-04-05 12:21] cascremers opened #19 "Implement trace output"
The current graphs (even the condensed ones) are often unreadable because they are too big. They also contain quite a lot of information that is interesting for the internals or for interactive proving, but that is irrelevant for understanding attacks.

One way to solve this is to add another view/output mode, that just shows (one) trace of the system, possibly with listed open goals, possibly jus

[2012-04-05 12:23] meiersi opened #20 "Update installation instructions to cater for installing 'alex'"
i.e., fix the issue noted below.

Yes, this helps. The real cause is that you don't have alex installed, which we can get either via Ubuntu's package repo or via cabal install. I'll add it to the installation instructions.

2012/4/5 Cremers  Cas cas.cremers@inf.ethz.ch:

[2012-04-05 13:17] meiersi opened #21 "Also automatically mark solved constraint systems in interactive mode"
This avoids users being confused by having no further clickable goals.

[2012-04-05 13:28] cascremers opened #22 "The userguide talks about 'filepath.vim'"
There is 'etc/filetype.vim' in /devel but the userguide refers to 'filepath.vim'.

[2012-04-05 13:39] cascremers opened #23 "Userguide does not explain builtins"
The builtins are currently (somewhat) described in the README, but this is not distributed currently. The description should be included in the userguide instead.

[2012-04-05 15:40] #21 closed, assigned to meiersi

[2012-04-05 15:41] #17 closed, assigned to meiersi

[2012-04-05 21:26] cascremers opened #24 "Protocol with syntax/missing builtin problem gives incomprehensible Maude error"
The following spec gives an incomprehensible Maude error. The problem is that I forgot 'builtin: diffie-hellman' so '^' is not defined. However the user won't easily be able to tell what is going on.

<pre>
theory maude_error_but_should_work
begin

section{* Test *}

rule the_test:
   [ In(x^z) ] --> []

end
</pre>

On a side note, running this simple spec with the added "builtin: diffie-hellman"

[2012-04-05 21:45] cascremers opened #25 "Manually defining uninterpreted functions can lead to core dump"
Here's a nice core dump:

The reason does _not_ seem to be the 'let'. Instead, the dump is caused by me using H1/H2 as below. This causes Maude to bork (in some examples silently, in this one with an error) but Tamarin core dumps.

<pre>
theory NAXOS_eCK
begin

builtin: diffie-hellman

functions: H1/1
functions: H2/1

section{* NAXOS *}

rule generate_ltk:
   let pkA = 'g'^~lkA
   in
   [ Fr(~lkA)

[2012-04-05 22:03] #25 closed, assigned to nobody

[2012-04-06 12:21] meiersi opened #26 "Un-octocatify your avatars ;-)"
@beschmi, @cascremers  I like that github displays the image of the author of a commit, issue, etc. However, you two look quite the same. Just registering some image in your preferences would be great :-)

[2012-04-06 12:35] #26 closed, assigned to nobody

[2012-04-06 17:27] cascremers opened #27 "Normalize instantiation constants for human parsing"
A typical graph contains ~x.313, ~y.444, ~z.236, $R.11. It is cumbersome for a human to match them up and to remember which one he has already seen somewhere else in the graph - and image scrolling is usually necessary.

One solution, which I have also been using in Scyther, is to normalize these numbers when displaying the graphs. In particular:

Let I be the set of 'base' identifiers (in the abo

[2012-04-06 21:41] cascremers opened #28 "Simple fix proposal for (attack) graph size problem"
Running some case studies, where it is important to understand any attacks that are found, has again proven to be unnecessarily hard by the amount of detail in the current graphs (that are meant to support inspecting the proof state and therefore contain information that is not needed to understand attacks).

Clearly, there are many great ways of improving such outputs but they may involve a lot o

[2012-04-07 00:34] #27 closed, assigned to nobody

[2012-04-07 19:16] meiersi opened #29 "Remove entailed ordering constraint in compressed mode"
They only clutter the visualization.

[2012-04-07 19:25] #28 closed, assigned to meiersi

[2012-04-07 19:32] #20 closed, assigned to meiersi

[2012-04-08 07:44] #29 closed, assigned to meiersi

[2012-04-08 09:41] cascremers opened #30 "Allow non-reducible function symbols in formulas"
I wanted to write 'Init' somewhere in a formula to filter out Session ID's for the initiator, without introducing a role-specific fact.
In the session ID I have a constant for the role. However, this yielded an error.

A simple way to reproduce the core of the issue is to modify NAXOS to include a nested constant 'x', e.g., as in:

<pre>
lemma eCK_key_secrecy:
  "not (Ex #i1 #i2 #i3 s A B minfo k

[2012-04-09 15:28] meiersi opened #31 "Add 'satisfiable' and 'valid' qualifiers for lemmas"
This is a simple, but very useful first step towards #14. It entails changing the theory summary.

[2012-04-09 15:29] meiersi opened #32 "Use a red background for proof-steps leading up to a falsification"
As a follow-up to #31, this simplifies understanding the status of a proof in the GUI.

[2012-04-10 07:37] meiersi opened #33 "Fix spacing in graph output"
We should adapt the space-based indent to the space that is lost due to not using a fixed-width font in the GraphViz output.

[2012-04-10 08:49] meiersi opened #34 "Use DAG representation for terms"
After improving the communication with `maude`, the most expensive functions are unification and substitution application. Switching to a DAG style representation should yield further benefits here.

[2012-04-10 08:57] cascremers opened #35 ""All x . P" when x does not occur in P should give more accurate error report (or maybe not fail at all)"
While modeling a protocol, it frequently occurs that one removes a clause and subsequently all occurrences of a variable.
When this happens, we get something like

  All x. P

where x does not occur in P. Currently this yields an error stating that the formula does not meet 'guardedness'. This can be mistifying/misleading.
There's two options:
- Report error: quantified variable x does not occur i

[2012-04-10 09:28] #6 closed, assigned to beschmi

[2012-04-10 11:46] #31 closed, assigned to meiersi

[2012-04-10 14:41] #33 closed, assigned to meiersi

[2012-04-10 14:58] cascremers opened #36 "Consistent usage of Tamarin name"
At several points we are now using different ways to refer to Tamarin.

I've seen at least:
- Tamarin
- tamarin
- tamarin-prover
- the Tamarin prover

We should be as consistent as possible. I recommend:
- Short: Tamarin
  (latex: {\sc Tamarin})    ("we used Tamarin")
- Long: the Tamarin prover
  (latex: the {\sc Tamarin} prover)
- Referring to the executable: `tamarin-prover`
  (latex: {\tt tamar

[2012-04-10 15:16] cascremers opened #37 "Gui/Graphviz (dot) output: term output typically ends with closing brackets on a single line"
The current term output in /devel has for multi-line items typically a last line that consists only of closing brackets. I would join such a set of closing brackets up with the previous line, saving a line.

[2012-04-10 16:27] #32 closed, assigned to meiersi

[2012-04-11 06:04] meiersi opened #38 "Replace favicon with draft of new logo"
@cascremers I suggest replacing https://github.com/meiersi/tamarin-prover/blob/develop/data/img/favicon.ico with the black rounded rectangle containing just the beard. It doesn't have to be great, as it will anyways be better than the SY logo, which has no relation to Tamarin anymore.

[2012-04-11 06:06] meiersi opened #39 "Use .svg files for displaying graphs in modern browsers"
This will enable better scaling and opens the way to lots of great stuff like
- making the goals clickable in the graph
- providing additional roll-over information
- use JavaScript to allow inline resizing of the graph
- ...

[2012-04-11 09:26] meiersi opened #40 "Bump version to 0.4.0.0, merge into master, release"
We use even version numbers for stable releases and odd numbers for development versions. Add comments to this issue for further stuff I should not forget to do before releasing to hackage. Currently, I know of the following:
- [DONE] Make sure that all issues in the csf-12-release milestone are resolved
- [DONE] Rerun all case-studies to ensure no regression has crept in
- [DONE] Update reference

[2012-04-11 10:27] cascremers opened #41 "Missing documentation files"
@meiersi : the cabal install file refers to MANUAL (missing) and to Tutorial.spthy in /stable (missing; possible renaming of UserGuide.spthy)

[2012-04-11 13:03] meiersi opened #42 "Update CHANGES and ensure that is deployed too"
Jup, let's be nice software developers :-)

[2012-04-11 13:15] #22 closed, assigned to meiersi

[2012-04-11 13:16] #23 closed, assigned to nobody

[2012-04-11 13:46] meiersi opened #43 "Include wellformedness checking output in summary"
A failing wellformedness check indicates that the model is likely to be flawed. This is easily forgotten when looking at a summary which just states `NewKey_secrecy (all-traces): verified (5 steps)`.

[2012-04-11 14:18] #8 closed, assigned to meiersi

[2012-04-11 14:18] #41 closed, assigned to meiersi

[2012-04-11 17:21] #24 closed, assigned to beschmi

[2012-04-11 20:49] cascremers opened #44 "Proposed keyboard shortcut 't' to jump to next trace"
Title says it all.

[2012-04-11 20:51] cascremers opened #45 "Proposed keyboard shortcut '?' to display keyboard shortcuts"
Often one starts digging into a proof, and then one realizes a keyboard shortcut would be handy. By then it is pretty hard to find what they are without backing up out of the proof. Not convenient.

What about a pop-up window? Also, semi-transparent help overlays are all the rage nowadays (unity, gmail,...)

[2012-04-11 20:52] cascremers opened #46 "Proposed keyboard shortcut 'A' to try autoprove all sorries"
We now have 'a', but not 'A'.

[2012-04-11 21:01] cascremers opened #47 "Vim syntax highlighting wrongly keywords 'builtin', should be 'builtins'"

[2012-04-11 21:03] #47 closed, assigned to nobody

[2012-04-11 21:03] #38 closed, assigned to cascremers

[2012-04-11 21:45] #42 closed, assigned to meiersi

[2012-04-11 21:58] meiersi opened #48 "Annotate cases stemming from equation splits"
The equation splits often yield many cases and it would be interesting to be able to quickly see which branch belongs to which equation. I imagine annotation (just as is done now with some other text):

[code]

[2012-04-11 21:59] meiersi opened #49 "Use the status bar to report about prover actions"
Cas suggested to use a status-popup when a branch is solved and the prover jumps to the next open goal in the interface.

[2012-04-11 22:03] meiersi opened #50 "Implement a proper logging framework"
Currently, we use `Debug.Trace.trace` to log output. All of this goes to stdout. However, some of the output should be visible in the GUI, some should be mixed with the batch output and other you want to drop. Designing and implementing a simple, but more powerful solution seems to make sense. Especially, as Windows users are not accustomed to having a shell display any output that they might need

[2012-04-12 22:57] meiersi opened #51 "Variable indices in fresh substitutions of variants are really large"
Check for yourself in https://github.com/meiersi/tamarin-prover/commit/e89ca64a6c65c3298feea69bb2a278c10cbfe9d4#L14R89. We're nearing the 32-bit limit with this code. The proof structures remained the same, but something's nevertheless fishy.

[2012-04-13 10:23] cascremers opened #52 "'Graph part of sequent' not always rendered on first go"
It occurs very often for me that the 'graph part of sequent' is not rendered on the first go.

After loading some file, and doing 'autoprove', it often looks like this:

https://github.com/meiersi/tamarin-prover/wiki/bug.png

A reload typically solves the issue.

However, this should of course work on the first time.

[2012-04-13 11:37] #52 closed, assigned to nobody

[2012-04-13 11:41] meiersi opened #53 "Migrate to yesod-1.0"
It's out now: http://hackage.haskell.org/package/yesod

This will provide us with long-term API stability and backports of bugfixes.

[2012-04-13 11:42] cascremers opened #54 "Make empty graph part of sequent more informative"
Currently, if the graph part of a sequent is empty, the user is shown a small white rectangle:

https://github.com/meiersi/tamarin-prover/wiki/bug.png

This should be replaced by something more meaningful, e.g. a text stating that the graph is empty (and no small white rectangle).

[2012-04-16 10:16] beschmi opened #55 "replace sequent with constraint system in UI"
We should get rid of 'Sequent' in the user interface. Changing the sourcecode can be done later.

[2012-04-16 11:40] beschmi opened #56 "Remove /* may loop */ comment from proof tree."
We should still show the comment in the applicable proof methods, but since horizontal space is tight in the left frame, we should hide it in the proof tree.

[2012-04-16 13:12] beschmi opened #57 "UI does not handle multi-line headers for constraint system view."
Test case: Open NAXOS_eCK_PFS, go to Disjunction method.

We should either limit ourselves to displaying the first line of the Solve(Disj ..) or fix the UI to display multiline headers correctly.

[2012-04-22 20:04] cascremers opened #58 ""Tamarin" link in top bar should lead to intro page"
Currently the top bar link goes to the InfSec software page for the #TAMARIN anchor. This is strange and counterintuitive - usually one would not want to go to the InfSec page, but the main use case is to use the top bar to go to the intro page.

The intro page should contain a link to the InfSec page instead with a clear indication of what can be found there.

Options for the top bar:
- Change li

[2012-04-23 07:20] #1 closed, assigned to beschmi

[2012-04-23 08:19] #54 closed, assigned to beschmi

[2012-04-23 08:20] #57 closed, assigned to nobody

[2012-04-23 08:21] #55 closed, assigned to nobody

[2012-04-23 09:25] meiersi opened #59 "Use `Integer` values for variable indices"
If this doesn't cost too much performance (> 10%), then we should use it, as it avoids any integer overflows that might threaten correctness.

[2012-04-23 15:14] #51 closed, assigned to beschmi

[2012-04-23 16:38] #59 closed, assigned to meiersi

[2012-04-24 08:45] meiersi opened #60 "Add entry for theory information page in overview"
This would provide a first solution to our current inability to link to a help message, i.e., we should also add a help link that points to the corresponding path.

[2012-04-24 09:03] meiersi opened #61 "bug: dot-file writing files in multi-threaded mode"
We should use some more care when generating the dot-files. Starting

[code]

Clicking on some larger DH-protocol and switching quickly between theory overview entries results in the following error.

[code]

This is due to a new dot-file being written twice or a dot-file being deleted that is being written again by another thread. We should be a bit more careful here.

[2012-04-24 09:05] #56 closed, assigned to meiersi

[2012-04-24 10:37] meiersi opened #62 "The autoprover should respect all flags from the command-line"
e.g., `--stop-on-trace=NONE`.

Alternatively, we could think about adding a configuration dialog to the GUI that allows to set such flags interactively.

[2012-04-24 12:35] meiersi opened #63 "Provide a Windows installer"
Windows users are not used to using a console. We should provide a simple way to install tamarin such that they get an icon that starts tamarin in interactive mode and instructs them to upload files. The instructions should also explain how to make better use of the prover by using it from the command-line.

The following library might help in creating a simple NSIS installer: http://hackage.haske

[2012-04-24 13:36] #10 closed, assigned to cascremers

[2012-04-24 13:36] #58 closed, assigned to cascremers

[2012-04-24 14:27] #36 closed, assigned to meiersi

[2012-04-24 14:29] #40 closed, assigned to meiersi

[2012-05-03 12:51] beschmi opened #64 "make interface that server listens on configurable"
We have the default 127.0.0.1 for now.
This does not work on Mac OS X 10.5 for some reason, we should make this configurable
and if no option is given, first try "127.0.0.1". If this does not work, try "*4" (any IPv4).

[2012-05-03 12:52] beschmi opened #65 "add SVG/PNG commandline option"
use-png and use-svg

[2012-05-03 12:52] beschmi opened #66 "respect dot-command in yesod server"

[2012-05-03 13:37] meiersi opened #67 "Detect whether prelude.maude is installed or not"
Otherwise, we get error messages like this:

[2012-05-03 14:00] #67 closed, assigned to nobody

[2012-05-03 15:52] #66 closed, assigned to beschmi

[2012-05-03 15:52] #64 closed, assigned to beschmi

[2012-05-03 15:52] #65 closed, assigned to beschmi

[2012-05-04 11:36] #53 closed, assigned to nobody

[2012-05-08 18:16] cascremers opened #68 "Allow for "characterization""
Essentially, a form of characterization is currently possible by a satisfiability check with reporting of "all traces". (Modulo some weirdness with attack reconstruction.)
However, you can only do something like that from the command-line now, and it is unclear how to interpret it.

It would be nice to be able to have an explicit command for "characterize" which internally should unfold to satisfi

[2012-05-11 08:58] meiersi opened #69 "Better error messages for non-guarded trace formulas"
Cas reporte that his student has a lot of trouble writing correct properties. We could help by providing good hints for typical errors. For example,
- Quantified variables that are not free in the body should be mentioned in a comment like `Note that you can remove variable i, as it does not occur in the body.`

[2012-05-11 09:12] meiersi opened #70 "Make goals clickable in graphs when outputting SVG files"
The title says it all. We should probably make some browser detection and then request from the JavaScript side either the PNG or the SVG file.

[2012-05-11 09:13] #39 closed, assigned to nobody

[2012-05-11 12:37] beschmi opened #71 "right click autoprove does not work with internet explorer"
The error dialog show "Unable to load view. Is the server down.". Clicking the goal or using 'a' works.
The problem also does not occur with chrome on windows.

[2012-05-25 15:19] meiersi opened #72 "Improve strength in proving disjunctions"
As guarded formulas are closed under negation, it would well be possible to use the following stronger case distinction for solving disjunctions:

[code]

The benefit is that some additional pruning might be enabled. The drawback is that there are more formulas to deal with and the heuristics might have a harder time for finding the right path.

[2012-05-26 19:03] meiersi opened #73 "Online editor integration"
http://codemirror.net/ seems to provide a really nice experience. This might help building the Web GUI into a full-fledged GUI that also supports editing the input files.

[2012-05-28 09:01] cascremers opened #74 "The link from Cedric's name (https://cssx.ch/) does not work anymore"
The link is on Tamarin's entry page.
I removed it for now from the InfSec webpage.

[2012-05-28 09:04] cascremers opened #75 "Clicking "load new theory" without selecting a file gives "internal server error""
On Tamarin's main page, there is a button "load new theory". If this is clicked without selecting a file, an "internal server error" is caused.

[2012-06-04 14:01] #62 closed, assigned to nobody

[2012-06-04 14:53] cascremers opened #76 "Bounded recursive autoprove in GUI"
It would be nice to be able to do a finite-depth recursive autoprove in the GUI, say for 1,2,5,10 depth or something like that. The current autoprove can be viewed as a depth-infinite-recursive autoprove, and the '1' key is a depth-one-recursive autoprove.

Possible interaction designs:
- Right-click autoprove yields a pop-up menu with several depths.
- Key binding: 'A' (shift-'a') followed by a n

[2012-06-11 07:07] meiersi opened #77 "Use `PreciseFresh` renamer for formula pretty printing"
This removes many of the unnecessary indices in the formulas. Thereby making them shorter and easier to parse.

[2012-06-11 07:17] meiersi opened #78 "Pretty-print `Last` as `last`"
...in accordance to the syntax in my thesis.

[2012-06-14 11:22] meiersi opened #79 "Replace default mode with `prove` mode and `expert` mode"
The default mode of tamarin currently leads to confusing help messages, as it lists parameters that might or might not apply to other modes. I suggest that we implement two new modes:
- `tamarin-prover prove` corresponds to the current default mode with `--prove`
- `tamarin-prover expert` is an extended version of the `prove` mode that provides additional experimental and debugging flags

[2012-06-14 11:45] meiersi opened #80 "Document --heuristics flag"
The following mail snippet might provide a first step.

Yes, I also observed that the existing heuristics do not work well for protocols with loops. There is currently not much support to guide the automated proof. There are two heuristics implemented:

s  for 'smart' implements the rule application strategy described in the extended version of our CSF'12 paper in Appendix B-D. However, it is prob

[2012-06-16 21:50] #77 closed, assigned to meiersi

[2012-06-16 21:50] #78 closed, assigned to meiersi

[2012-06-16 22:00] meiersi opened #81 "Reduce memory usage of autoprover"
There is a simple way to reduce the memory usage of the autoprover. Instead of storing all visited constraint systems in the nodes of the proof it should just store the proof method applied. Before returning the proof, the constraint systems are reconstructed using this information. Thanks to laziness these constraint systems are not computed when outputting the proof to the command line. They are

[2012-06-22 08:27] meiersi opened #82 "Handle base case of induction using case-splitting"
Currently, induction can only be applied if the base-case has no solution. This does not play together well with `exists-trace` proofs. The proper way is to perform a case split and represent the base case as a constraint system too according to the constraint-reduction rule in my thesis.

[2012-06-28 14:54] meiersi opened #83 "Soundness bug in unique fact instances"
@beschmi and Robert Kuehnemann reported that the unique fact instances code is currently flagging too many constraint systems as contradictory. This must be fixed => a proper writeup and a proper implementation are required.

[2012-06-29 13:31] #83 closed, assigned to meiersi

[2012-07-02 12:32] #74 closed, assigned to nobody

[2012-07-02 22:18] #68 closed, assigned to meiersi

[2012-07-02 22:19] #76 closed, assigned to nobody

[2012-07-05 11:00] #82 closed, assigned to meiersi

[2012-07-05 14:41] meiersi opened #84 "Display injective fact instances in GUI"
The facts with injective instances are currently computed from the multiset rewriting rules using a simple heuristic. They should be displayed to the user as part of the `Multiset rewriting rules` overview in the GUI.

[2012-07-05 21:07] #43 closed, assigned to meiersi

[2012-07-06 08:00] cascremers opened #85 "Image files produced on-the-fly for the GUI should be stored in system-wide temporary directory"
Currently, intermediately generated files for the graphs (.dot and .png) in the GUI are stored in 'tamarin-prover-img' subdirectories of the current directory.

If tamarin is started from within more directory, this results in artefacts all over the place and these are also not auto-cleaned by any mechanism.

It would be preferable to store such files in the operating system's temporary directory

[2012-07-06 13:25] meiersi opened #86 "Investigate whether we should turn on -feager-blackholing"
It might be that we gain some performance by following the GHC manual more precisely: http://www.haskell.org/ghc/docs/latest/html/users_guide/using-smp.html#parallel-compile-options

[2012-07-07 21:37] #85 closed, assigned to meiersi

[2012-07-07 21:41] #61 closed, assigned to meiersi

[2012-07-09 17:04] #84 closed, assigned to nobody

[2012-07-11 12:42] #81 closed, assigned to meiersi

[2012-07-12 07:07] beschmi opened #87 "rule merging ignores actions"
if the unique-label rule is used to merge two rules vr : [] -[a(x)]-> [] and vr: [] -[a(y)]-> [], the equality x = y is not added to the constraint system. This is a completeness problem.

[2012-07-12 07:09] #87 closed, assigned to beschmi

[2012-07-12 21:03] meiersi opened #88 "Remove obsolete support for formula variants"
Lemmas still support a formula variant, which might or might not be present. This leads to unnecessary complications in the code and confuses users. We should remove this.

[2012-07-12 22:13] #69 closed, assigned to meiersi

[2012-07-12 22:15] #35 closed, assigned to nobody

[2012-07-14 08:29] meiersi opened #89 "Setup mailing list for announcing releases etc."
This involves updating the README, CHANGES, Tutorial, and Homepage.

[2012-07-14 09:20] #89 closed, assigned to meiersi

[2012-07-14 12:02] #86 closed, assigned to meiersi

[2012-07-14 21:36] cascremers opened #90 "Webpage screenshots should show browser window"
The Tamarin webpage currently contains screenshots that show the browser content but not the browser itself.
I think it is worth dedicating a few pixels to also show the browser in which the GUI is running, so visitors immediately get a feel for what will be happening in the GUI.

In the long run, one might even consider doing a small screencast to show off the interactive mode.

[2012-07-14 21:52] cascremers opened #91 "Webpage should be clearer about paper links; maybe use icons"
It should be trivial to locate the links to the papers without reading any text.

[2012-07-15 08:07] #60 closed, assigned to meiersi

[2012-07-15 08:10] #45 closed, assigned to nobody

[2012-07-15 08:11] meiersi opened #92 "Update MANUAL about injective fact instances"
The code is there and documented. However, the user documentation is not yet.

[2012-07-16 15:27] cascremers opened #93 "Theory introduction page should show "Quick introduction" only once"
Currently the "Quick introduction" with the description of the pages appears always, even if just pulling up the shortcut keys with "?". This is distracting and redundant. Possibly this explanation should be shown only once.

[2012-07-16 15:32] cascremers opened #94 "When selecting a theory in the GUI, [aAbB] keys initially do not work"
Currently if you select a theory in the GUI you can't just hit 'a' for autoprove, because you first have to select the 'sorry' corresponding to the property. Often you just want to auto-prove the first sorry, so we could shortcut this additional mouse click by automatically focusing on the first 'sorry'. Then the shortcuts works immedately.

An alternative solution is to change the behaviour of [a

[2012-07-17 10:55] meiersi opened #95 "Allow for syntactic sugar for formula parser"
Depends on #9. Once we have this change we can also think about providing some more syntactic sugar. For example,

[code]

Or

[code]

[2012-07-17 11:12] meiersi opened #96 "Allow checking (partial) proofs"
Some proofs cannot be completed by the autoprover, as a prefix of the proof tree must be chosen by hand. Automatically checking the validity of such a proof is currently not possible. We can implement this automatic checking in the batch mode as follows:
1. Ensure that the proofs output can be parsed.
2. The autoprover is only used to prove `sorry` steps and newly introduced cases in earlier steps

[2012-07-17 11:57] #9 closed, assigned to meiersi

[2012-07-17 12:00] meiersi opened #97 "Remove temporary hack for yesod dependencies"
Due to https://github.com/yesodweb/wai/issues/90, I added a temporary hack to the `tamarin-prover.cabal` file to circumvent a build problem. This should be fixed now and we can remove the hack.

[2012-07-17 12:05] #90 closed, assigned to cascremers

[2012-07-17 13:30] #91 closed, assigned to cascremers

[2012-07-17 23:06] #97 closed, assigned to meiersi

[2012-07-17 23:08] #96 closed, assigned to meiersi

[2012-07-17 23:28] #88 closed, assigned to meiersi

[2012-07-17 23:52] meiersi opened #98 "GUI startup: list non-wellformed files"
The current output looks like:

[code]

This is unsatisfying, as I don't see which file raised the error.

[2012-07-18 08:56] #92 closed, assigned to meiersi

[2012-07-18 08:56] #98 closed, assigned to meiersi

[2012-07-18 08:56] #80 closed, assigned to meiersi

[2012-07-18 13:36] meiersi opened #99 "Implement 'axioms' for filtering the traces"
Typical axioms are the checking of equalities and inequalities. Using axioms simplifies the specification of the security properties. Robert Kuennemann requires this also for his larger Yubikey case study.

[2012-07-18 14:56] #99 closed, assigned to meiersi

[2012-07-18 15:00] meiersi opened #100 "Avoid redundant simplification and induction attempts"
The autoprover currently checks in every step whether simplification or induction are applicable. These checks are not super-cheap and could easily be avoided. The autprover maintains the invariant that constraint systems are simplified and thus we have to apply simplification only as a first step. This might increase performance a bit at a little cost of code complexity.

[2012-07-20 17:11] meiersi opened #101 "Enable parallelization by default"
Using the GHC option `-with-rtsopts=-N`, we can enable parallel execution of the `tamarin-prover` by default. This gives a more pleasant user experience, than calling it with `+RTS -N`. For a `tamarin-prover` executable compiled with this option, we should be able to disable full parallelization using a `+RTS -N1` flag. We however have to test that.

Once this works, we should adapt the MANUAL and

[2012-07-27 14:46] meiersi opened #102 "Properly manage freshness in precomputed case distinctions"
There is a subtle issue with the use of the freshness sources in [`refineCaseDistinction`](https://github.com/tamarin-prover/tamarin-prover/blob/7fd4de68af70d80c26643d0195a0b2fecbd1d632/src/Theory/Constraint/Solver/CaseDistinctions.hs#L97). It is disconnected from the context into which its result is importet in [`applyCaseDistinction`](https://github.com/tamarin-prover/tamarin-prover/blob/7fd4de6

[2012-07-30 14:42] meiersi opened #103 "Eagerly solve all nullary function symbols using construction rules"
In Robert Kuennemanns Yubikey study, I noticed that there are `Coerce` rules introduced for nullary function symbols like `zero/0`. This is unnecessary. We can just eagerly solve such goals using the corresponding construction rule. We should also check whether there are precomputed cases for such function symbols. It seems there are none, but I'll have to check the code.

This is no soundness iss

[2012-07-30 22:48] #103 closed, assigned to meiersi

[2012-07-30 22:48] #102 closed, assigned to meiersi

[2012-07-31 09:44] meiersi opened #104 "Allow reducible function symbols in type invariants"
When writing protocol rules with explicit destructors, then the type invariants must be extended to cover for the case that an error term was sent. This is not possible with the current definition of guarded trace properties. See `examples/loops/Typing_and_Destructors.spthy` for an example.

Note that type invariants are validity claims for the _normal form traces of a protocol_. Their definition

[2012-08-05 15:56] meiersi opened #105 "Heuristic: prefer loop breakers before deducible message"
In my experiments with the TESLA protocols, I'm having trouble finding the short proofs that do exist because certain backwards steps on loop breakers are performed very late. The change suggested in the title of this issue should solve this. I plan to rank loop breakers after large split goals, but before deducible messages.

In general, this change helps with protocols with loops and messages th

[2012-08-05 19:25] #105 closed, assigned to meiersi

[2012-08-05 19:31] #101 closed, assigned to meiersi

[2012-08-05 19:57] #75 closed, assigned to meiersi

[2012-08-05 20:25] meiersi opened #106 "autoprover shortcuts don't work anymore"
Noticed in 6c1f10a0e8a5ed2aced4071bb3153e4f531bc947. This must be fixed before the release of 0.8.1.0.

[2012-08-06 08:33] beschmi opened #107 "clean up link handling: js vs haskell"
The Haskell side should always send the right link such that no changes are required on the js side anymore. For now, the "del/path" is one of the links that requires rewriting.

[2012-08-06 09:07] #106 closed, assigned to nobody

[2012-08-07 11:48] meiersi opened #108 "Soundness bug: axioms are used wrongly during induction"
During polishing the section on trace induction in my thesis, I discovered a bug in the use of axioms during induction proofs. The problem is that axioms may filter the traces such that they are no longer prefix-closed. Trace induction is however only sound for prefix-closed sets of traces. Thus it is not sound to use the axioms as-is during the constraint solving, when using trace induction.

Wha

[2012-08-09 11:56] meiersi opened #109 "tamarin-prover does not compile against 'cmdargs-0.9.6'"
This package changed the definition of the `Mode` type, which leads to the following error when running tamarin.

[code]

One can fix it for now using

[code]

to install tamarin-prover against the old version. Probably, the following would also work

[code]

The longterm fix is to ensure that our code ensures reasonable defaults for the fields of the `Mode` record.

[2012-08-10 11:13] #109 closed, assigned to meiersi

[2012-08-13 21:09] #108 closed, assigned to meiersi

[2012-08-17 11:23] meiersi opened #110 "Add [ignore] attribute"
lemmas with this attribute are ignored by --prove. They are also reported as `ignored` in the summary. This simplifies experimentation.

[2012-08-17 11:25] meiersi opened #111 "Fix: re-checking proofs should search for a trace from the root"
Otherwise, we have non-termination for the branches where no further trace is hidden.

[2012-08-17 11:28] meiersi opened #112 "Add support for iterated function application"
In the TESLA 2 example, the key correctness argument states that every key that can be hashed to the original, authenticated key is a key of the hash chain. We cannot verify this currently, as we fail to reason effectively about iterated function application. See the `loops/Minimal_HashChain.spthy` example.

In the discussoin with @beschmi, we found one way to verify this example is to add support

[2012-08-23 21:19] meiersi opened #113 "Check confluence of subterm rewriting rules"
This should be a well-formedness check. There are several options for solving this (partially).
1. Just add a comment when displaying a signature. Both in the console output and the GUI.
2. Check the orthogonality of the equations. If all equations are orthogonal, then don't display a comment, as this would only be annoying.
3. Use Maude's Church-Rosser checker to implement a proper well-formednes

[2012-08-23 21:22] meiersi opened #114 "Parse reserved function symbols only if signature is enabled"
This holds for `xor`, `1`, ... etc. this is a temporary fix.

@beschmi : What symbols are these exactly? Wouldn't it be more proper to interpret these symbols according to the signature. Is this possible in the code or is it too expensive? Should we use different constructors for reserved function symbols?

[2012-08-29 14:32] meiersi opened #115 "Incorporate Ralf's comments on the Tutorial"
@rsasse suggested the following improvements to our tutorial. We should work them in :-)

[code]

[2012-08-30 16:05] meiersi opened #116 "Incorporate YubiKey and YubiHSM into regression tests and release."
They were modeled by @rkunnema. Thanks!

[2012-08-30 16:18] meiersi opened #117 "Upgrade to yesod-1.1"
Just to make sure that all the bugfixes reach us. This includes upgrading all the other support-libraries. Brent Yorgey's http://hackage.haskell.org/package/highlight-versions should simplify this task.

[2012-08-31 13:41] rkunnema opened #118 "pressing 'a' is not equal to pressing '1' often enough"
This problem is related to the command line and the interactive mode of tamarin in the current version of the development branch (this was the last commit at the time of writing commit 361b7da588)

I noticed that the sanity lemma Login_reachable in the attached file cannot be proven automatically. Upon investigating it in interactive mode, i noticed:
- if I press '1' four times, then 'a' I find a

[2012-09-04 08:15] meiersi opened #119 "Compress sequents drops self-loops."
This should not happen, as it may confuse the user.

[2012-09-04 18:17] meiersi opened #120 "Do not create the unnecessary img/ directory in the working directory"
This is a remainder of the old local image caching behaviour. It should be very easy to fix. I think it only occurs when starting tamarin in the interactive mode.

[2012-09-22 15:11] meiersi opened #121 "Display delayed equations as variant-formulas"
as described in @beschmi PhD thesis.

[2012-09-24 13:12] meiersi opened #122 "Case study: remote attestation and ZK-proofs"
Michael Backes mentioned that they would be interested in seeing how difficult it is to verify the DAA protocol from their 2008 S&P paper ["Zero-Knowledge in the Applied Pi-calculus and Automated Verification of the Direct Anonymous Attestation Protocol"](http://www.computer.org/portal/web/csdl/doi/10.1109/SP.2008.23).

[2012-09-24 20:52] #117 closed, assigned to nobody

[2012-09-25 07:36] meiersi opened #123 "Integrate theory unittests into self-test mode"
There's a dangling file in `Theory.UnitTests` that is currently bitrottet. We should integrate it to guarantee good quality.

[2012-09-25 10:14] #120 closed, assigned to nobody

[2012-09-25 10:39] #121 closed, assigned to nobody

[2012-09-28 05:17] meiersi opened #124 "Automate version bumps"
It's currently a pain in the butt to change the version information. It is referenced in

[code]

We should automate changing it and stop wasting time.

[2012-09-28 07:46] cascremers opened #125 "Introductory tamarin-prover-interactive screen can still be clearer"
A new user sees a bunch of shortcuts that don't work (until the 'sorry' is selected). It should be made clearer in what context the shortcut keys work, and how to get there.

We can also use CSS to better highlight the "auto prove" link, maybe render as a button.

[2012-10-15 12:15] rsasse opened #126 "Add user warning when "0 cases" in chain computation detected"
There is a high probability of a user specification error when in the case distinctions in the interactive interface there is an appearance of "0 cases", like so:

Sources of "!Sessk( t.1, t.2 ) ▶₀ #i" (0 cases)

This should be made (more) apparent to the user, both in the UI and on the command line (where this is not mentioned at all) in the form of some kind of WARNING as this is very likely an

[2012-11-08 15:21] #30 closed, assigned to beschmi

[2013-01-06 10:45] meiersi opened #127 "Use eager blackholing."
As we can now compile on GHC 7.6, we could use [eager blackholing](http://www.haskell.org/ghc/docs/latest/html/users_guide/using-smp.html) to avoid some redundant parallel computations. In earlier versions of GHC, bug [#7076](http://hackage.haskell.org/trac/ghc/ticket/7076) was blocking this.

[2013-01-06 11:05] meiersi opened #128 "Port improved graph output to Haskell"
The python version is in https://github.com/tamarin-prover/tamarin-prover/tree/feature-improved-graph-output

[2013-01-09 09:35] rsasse opened #129 "Graph representation changes on proof method application - minimize differences"
On manual exploration of a protocol, the graph changes at each step, where smaller changes are generally easy to see and understand. But, large changes (due to dot rearranging nodes, e.g.) are harder to process for the user.

This problem also exists in the improved graph output due to both changes by dot and additionally (and maybe worse) by changing the abbreviations.

Possible solutions would l

[2013-01-11 15:42] cascremers opened #130 "Explore alternative graph representations"
Even with the new graph renderer (see the `feature-improved-graph-output` branch) graphs quickly become difficult to read. Scrolling vertically as well as horizontally is cumbersome and it is easy to lose the bigger picture.

Another problem of the current rendering is that the relative position of elements in subsequent graphs along a path in the search tree is inconsistent: as nodes are added, e

[2013-01-11 21:32] beschmi opened #131 "Add support for predicates"
At the moment, tamarin only supports the predicates `F(..)@i` and `i < j` in trace formulas.
There are two possibilities to add support for user-defined predicates.
1. Allow the user to define predicates in terms of (guarded) trace formulas, e.g., `psmaller(x,y) = Ex z. x = y + z`. Then, allow the user to fold and unfold such predicates in proofs as required.
2. Allow the user to define abstract/u

[2013-01-25 12:43] meiersi opened #132 "Disallow 'Fr' facts in labels and formulas"
It is not a real problem, but just feels strange. Also check that the wellformedness check kicks in when using Fr facts in the conclusion or less or more than one argument.

[2013-01-30 08:55] cascremers opened #133 "Introduce more compact pretty-printing syntax for multisets"
Currently, multisets are output in their simple form, e.g., { a,a,a,b,b,c }.
For elements with large multiplicities, e.g., when multisets are used to represent integers, this quickly becomes hard to parse.

Instead, it seems useful to explicitly output the multiplicities instead. An example could be:
{ 3 \* a, 2 \* b, c }

It's just a matter of agreeing on a useful syntax, as implementation should

[2013-01-30 09:18] cascremers opened #134 "Tamarin should copy Scyther's "best attack" search"
The Scyther has a cost function that assigns a cost (where lower cost should mean "a simpler minimal (attack) trace") to patterns. By default, it uses this for a branch and bound while searching attacks. Once it finds an (attack) pattern, it sets the bound to the associated cost, and keeps searching for better attacks. As a result, Scyther automatically tends to report "nice" attacks and not unnec

[2013-02-27 15:21] rkunnema opened #135 "Theories created in interactive mode cannot be loaded in interactive mode"
Problem description: The files produced by the "Download" link in interactive mode seem to cannot be loaded using the button on the start page, but they are accepted as command line parameter.

Versions for reference: Tested with current version in development branch (298801d9d461c6ad48f1a64fbbf8550c7ba32464) and stable version 0.8.2.1 (tested with both)

How to reproduce:
1. start tamarin in inte

[2013-03-10 11:32] #135 closed, assigned to nobody

[2013-06-04 19:19] cascremers opened #136 "Some builtins combined with user specified functions cause Maude errors"
The following input file yields a Maude error:

[code]

The problem seems to be that 'mult' clashes with the 'diffie-hellman' builtin, but it is hard for a user to figure that out from the resulting error message:

[code]

This situation could be improved by checking for such clashes and improving the error reporting.

[2013-07-30 17:10] meiersi opened #137 "Disallow public names in equations"
Li Li discovered a problem, where tamarin fails ungracefully when using a public name in an equation. See

[code]

resulted in

[code]

[2014-04-26 13:26] jeanying opened #139 "Tamarin fails to parse `splitEqs(0)` when loading a protocol theory"
Tamarin falls to parse an input file which contains a proof constructed in the interactive mode with a line `splitEqs(0)`. It outputs an error on column 22 of that line:

unexpected "("
expecting letter or digit, "." or "="
facts must start with upper-case letters

[2014-05-23 11:19] rkunnema opened #140 "Compile error "Module `Data.Conduit' does not export `runResourceT'" with conduit-1.1.2.1"
Hi,

I get a compile-time error: Module `Data.Conduit' does not export `runResourceT'"
in src/Web/Handler.hs:65

It seems to be related to (read: the same issue as in):
https://github.com/ndmitchell/hoogle/issues/60

Pinning conduit to 1.0.17.1 in tamarin-prover.cabal solved the issue for me.

Note: this concerns branch feature-external-heuristic, but it looks as if it affects develop, too.

See y

[2015-02-11 19:11] katrielalex opened #142 "Multiple users of tamarin-prover on the same machine have permissions errors."
tamarin-prover chowns `/tmp/tamarin-prover-cache` to whichever user is running the prover. If running on a box with more than one user, this means that the second user can't read or write to the cache, and hence can't see the graphs.

This manifests itself as broken images in the web GUI, with errors like

    127.0.0.1 - - [11/Feb/2015:15:03:01 +0000] "GET /thy/2/overview/proof/session_key_setup_

[2015-02-11 19:21] meiersi commented on #142
I see. I see the following three solutions.

1. Set read permisions to allow others to read the cached files.
2. Include the username in the temp dir name.
3. Generate a unique suffix for the temp-dir of each session.

The achieved caching effects become smaller with respect to the order of proposed solutions.

Intuitively, I'd go for Solution 1. Allowing to read the cached png's should be ok. Wha

[2015-02-11 19:25] katrielalex commented on #142
I would also intuitively go for 1, but the wider question is what guarantees should be made if different users are running tamarin on the same box.

(For example, I believe if someone else runs tamarin nothing stops me from connecting to their port and fiddling with their theories. Indeed, since there’s a “load” button, I can read any file they can. This is probably fine, but should maybe be expli

[2015-02-11 22:46] csstaub commented on #142
It might be instructive to look at git-annex, which has a similar UI model (and is also written in Haskell) to figure out how they are dealing with these issues (git-annex supports several instances running side-by-side).

[2015-02-25 08:20] Phasip opened #143 "Tamarin does not terminate and interactive version doesn't work on trivial model."
When trying to use tamarin I noticed that one of my models put tamarin in an infinite loop when
clicking the theory name in the welcome screen of interactive mode.

I have managed to strip the model down to two trivial cases, neither terminate with/without gui.

using typing lemma: https://gist.github.com/Phasip/2c6a5aed307e3cb74f11

using axiom: https://gist.github.com/Phasip/444516a0316e6559c116

[2015-03-17 06:33] Phasip opened #144 "Tamarin gives wrong result for loop test"
While trying to model a loop with a counter i did a mistake while writing my reuse
lemma - but tamarin happily verified it.
Version: tamarin-prover 0.8.6.1

https://gist.github.com/Phasip/cb531f887deeff5f5146

The issue is the Loop_inc lemma, the exists lemma is just to test and does not affect the bug.

[2015-03-17 07:47] meiersi commented on #144
That looks indeed like a bug. We'll have to see what's happening here.

2015-03-17 7:33 GMT+01:00 Phasip <notifications@github.com>:

[2015-03-17 14:49] cascremers commented on #144
Hi, I tried to minimize this.

In the following gist, I have only one rule, one function. The minimal example uses only rule ProduceF1 and the lemma 'quite_false_2'. The 'Fr' seems to be needed, as well as the equality.

https://gist.github.com/cascremers/87de144724d7ad04159b#file-minimal_problems-cc-spthy

Note the difference in outcome between the odd and even lemma.

[2015-03-17 21:37] cascremers commented on #144
Hi,

Indeed, it looks like a bug. I've tried to reduce the example to its
essentials (see the issue tracker, 144). It seems the issue requires quite
a complex combination of preconditions.
More to follow.

Best,

Cas

On Tue, Mar 17, 2015 at 7:47 AM, Simon Meier <notifications@github.com>
wrote:

[2015-03-18 09:46] Phasip commented on #144
It seems like order matters, swapping #i = #j  to  #j = #i gives a different result.

lemma should_yield_counterexample1:
"All x #j. A(f(x)) @ #j ==>
(Ex #i. ((#i = #j) & (A(x) @ #i)))"

lemma should_yield_counterexample2:
"All x #j. A(f(x)) @ #j ==>
(Ex #i. ((#j = #i) & (A(x) @ #i)))"

[2015-04-10 15:16] cascremers opened #145 "Tamarin install on Ubuntu 14.10 fails to compile the GUI"
On a clean install of Ubuntu 14.10, following the official installation instructions, Tamarin (from hackage) compiles without gui support. Since the vast majority of users require the gui, this makes Tamarin currently unusable on this platform. The apt-get installed ghc version is 7.6.3.

The problem manifests itself like this:

    $ tamarin-prover interactive .
    [snip maude stuff]
    tamarin

[2015-04-10 15:21] cascremers opened #146 "Tamarin default make should fail if the gui cannot be compiled"
If the gui cannot be compiled, the current 'make' of Tamarin does not clearly warn the user, and compiles the non-gui version instead.

The vast majority of users want the gui version, and will be puzzled by the process (and the strange warning they get when they try to use the gui afterwards).

I propose that we make the following the default:
- Without any options, 'make' requires compilation of

[2015-04-11 06:45] meiersi commented on #145
Ok, GHC 7.6 is a doable target. I'll remove the flag for no-gui compilation, as it is not useful for now. It is easy to add in case we need it back, which I doubt.

[2015-04-11 10:30] meiersi commented on #146
That sounds sensible, and should be rather easy to do.

[2015-04-13 15:08] meiersi opened #147 "Merge installation and usage instruction into README"
As discussed the README.md file should be the main entry point for all documentation needs for a user.

It should explain how to
- install,
- use,
- get examples for,
- and develop

the `tamarin-prover`. It should therefore merge the information from our website and the `doc` dir in the repository into a simple and consistent explanation.

[2015-04-13 15:14] meiersi opened #148 "Embed `git describe` string into built binary"
This is a must for binary distributions and proper bug-reports.

[2015-04-13 16:01] meiersi commented on #140
Fixed on `develop` in bcf23bbf6234a35e8b466ffb9cddd281eb2506e8.

[2015-04-13 16:01] #140 closed

[2015-04-13 16:02] meiersi commented on #146
I've opted for just removing the option to build without a gui: 9dabe0567030516933a42e24b78e91b364591b7c. With the pinned version constraints it should always be possible to build the GUI.

[2015-04-13 16:02] #146 closed

[2015-04-13 16:05] meiersi opened #149 "Get Travis CI to build tamarin-prover with GHC 7.8.4"
This works locally on my Ubuntu machine, but not on Travis.

[2015-04-13 16:08] meiersi opened #150 "Create and publish pre-built binaries for Ubuntu"
As of c4783f7819b773e7fa077047ef2189823ed8e29c, we have support for building statically linked executables with minimal external dependencies. Installation is as simple as copying the binary to your system.

It would be great if @cascremers could verify the compatibility (it worked on my machines to copy the ibnary from 14.10  to 12.04 and run the interactiv emode). Once that's done, I think it wo

[2015-04-13 16:11] meiersi commented on #145
I've fixed these problems and setup CI support here: https://travis-ci.org/tamarin-prover/tamarin-prover

It always checks whether GHC 7.4.2 and GHC 7.6.3 can build the tamarin-prover. It also tries to build it against GHC 7.8.4 and GHC HEAD. This currently does not work. Although, I can build tamarin-prover locally against GHC 7.8.4. The CI support for GHC 7.8.4 requires further investigation: #1

[2015-04-13 16:11] #145 closed

[2015-04-29 12:51] hellsheep opened #152 "Windows Install Issue using Cabal."
Using Windows 64 bit I tried to install Tamarin Prover it using "cabal install tamarin-prover" after updating cabal. I get the following output when attempting that:

 H:\XXXXXXXXXXXXXX\Tamarin Prover>cabal install tamarin-prover
Resolving dependencies...
cabal: Could not resolve dependencies:
trying: tamarin-prover-0.8.6.1 (user goal)
trying: tamarin-prover-utils-0.8.5.1 (dependency of tamarin-pr

[2015-04-29 13:49] SimonMeierIBM commented on #152
Thanks for the report.

What ghc version are you using?
Could you try to build the `develop` branch. It fixes a number of build problems on Ubuntu (see #145).

On windows it is probably easiest for you to use vagrant as described in the following commit: https://github.com/tamarin-prover/tamarin-prover/commit/1b65cc59a73ea68a86a13eef14a1fb3ddaeb2945

[2015-04-29 13:57] hellsheep commented on #152
I reported the issue but I did not finish doing steps 2 and 3 you described in your earlier email. I've attempted that now and got this output I will also add it to the issue tracker. I believe it's  using ghc 7.8.3 according to the trace provided below. Below is the output after using make install which is provided from GNUwin32.

H:\GitHub\tamarin-prover>make install
cabal sandbox init --sandbox

[2015-04-29 14:45] SimonMeierIBM commented on #152
Hmm, I believe we're hitting a bunch of Posix incompatibilities here. Windows is just a very different platform from Linux and OS X (different path separators, weak symlink support). It might be that you can build it using Cygwin, or by adapting the makefile and the build setup accordingly.

I do however think that it is not worth the trouble and that you should use the vagrantfile to run tamarin

[2015-04-29 15:32] hellsheep commented on #152
I will look into it soon and get back to you. Thanks for the continued support =)

________________________________
From: SimonMeierIBM <notifications@github.com>
Sent: 29 April 2015 15:45
To: tamarin-prover/tamarin-prover
Cc: Sean Simpson (PGR)
Subject: Re: [tamarin-prover] Windows Install Issue using Cabal. (#152)

Hmm, I believe we're hitting a bunch of Posix incompatibilities here. Windows is

[2015-06-14 09:57] callalilychen opened #153 "Linux Install Issue using Cabal"
I'm trying to install Tamarin Prover on Arch linux using "cabal install tamarin-prover" . I get the following output when attempting that:

Resolving dependencies...
cabal: Could not resolve dependencies:
trying: split-0.2.2/installed-204... (user goal)
trying: tamarin-prover-0.8.6.1 (user goal)
next goal: tamarin-prover-term (dependency of tamarin-prover-0.8.6.1)
rejecting: tamarin-prover-term-0.

[2015-06-14 10:25] cascremers commented on #153
Did you already try to compile the development branch from github? We
recently made some changes that might have solved this type of problem.

Best,

Cas

On Sun, Jun 14, 2015 at 10:57 AM, callalilychen <notifications@github.com>
wrote:

[2015-06-14 11:04] callalilychen commented on #153
Yes, I have tried to compile die code from the current git development branch. Thank you very much for your fast reply.

[2015-06-14 11:08] meiersi commented on #153
I'll have a look at this when I'm back home.

callalilychen <notifications@github.com> schrieb am So., 14. Juni 2015 1:04
PM:

[2015-06-14 19:56] meiersi commented on #153
BTW, I wonder whether you are using GHC 7.10.1 here too. I have not yet fixed the compile issues with 7.10.x. I'm sorry.

[2015-06-15 21:33] callalilychen commented on #153
Thank you very much for your support. I can not find any old version GHC package for Arch linux, hence I can not downgrade my ghc. Could you please fix this compile issue fuer ghc 7.10.1 if possible?

[2015-07-23 23:08] samscott89 commented on #153
Hi @callalilychen,

You can find old Arch packages via the [Arch Rollback Machine](https://wiki.archlinux.org/index.php/Arch_Rollback_Machine).

For example, the previous version of ghc was 7.8.3 and can be found [here](http://seblu.net/a/arm/2014/12/25/extra/os/x86_64/ghc-7.8.3-2-x86_64.pkg.tar.xz) (assuming 64-bit). I had the same problem as you and this worked for me.

Multiple versions of ghc

[2015-08-12 10:54] cascremers commented on #144
In further investigations we ran into a similar problem that does not involve timepoints. However, the preconditions still seem to involve:

- A fresh value (or perhaps just secret?)
- A redundant existential quantifier in combination with an equality

The second condition is probably the reason why we haven't hit this bug before.

I have constructed two minimal example files to illustrate the bug

[2015-08-12 10:55] cascremers commented on #144
Note that I would have squashed this bug already if I could consistently compile old versions of Tamarin.
In that case, I would have been able to use git-bisect to isolate the commit that introduced the bug. However, this seems infeasible at the moment.

[2015-08-12 15:11] jdreier commented on #144
This bug is caused by the following lines in the function impliedFormulas:

    candidateSubsts subst ((GEqE eq):as)   = do
        let (s,t) = applySkTerm subst <$> eq

The reason is that the functor application on tuples (here: eq) does not apply the function (here: applying the substitution) on both values, but only on the second (unlike for lists). ( See also: http://stackoverflow.com/question

[2015-08-12 15:12] #144 closed

[2015-08-13 10:40] cascremers commented on #144
For reference: this bug was fixed in commit
144fdb6c401d1e8f891d9dd1c03963aec60d23de

[2015-08-27 12:41] rsasse commented on #139
Closing, as the above patch fixes the problem.

[2015-08-27 12:41] #139 closed

[2015-08-27 13:23] rsasse commented on #153
Fixed by https://github.com/tamarin-prover/tamarin-prover/commit/3376da437c94d2227db832f0e205635a1ddb75a3

Now building with stack, no more cabal based builds.

[2015-08-27 13:23] #153 closed

[2015-08-27 13:24] rsasse commented on #152
Fixed by https://github.com/tamarin-prover/tamarin-prover/commit/3376da437c94d2227db832f0e205635a1ddb75a3 which is tested on Windows 10, as we now use stack to build.

[2015-08-27 13:24] #152 closed

[2015-08-27 13:39] rsasse commented on #149
The Travis builds work sometimes, but not all the time. Opened issue at the stack project:
https://github.com/commercialhaskell/stack/issues/859

Maybe they have an idea what is going wrong.

[2015-08-27 14:43] rsasse commented on #149
Thanks to help at the above stack issue this has been resolved in commit https://github.com/tamarin-prover/tamarin-prover/commit/e3a9acf9f01614832e29ac4117e85a4fcbdc376e

[2015-08-27 14:43] #149 closed

[2015-08-27 14:46] rsasse commented on #147
This is done now, but split between the [readme](README.md) which links to both [installation](INSTALL.md) and [contributing](CONTRIBUTING.md) instructions.

[2015-08-28 10:26] rsasse commented on #142
If someone has access to your machine on port 3001 they obviously can do things with your Tamarin instance, including loading new files, and giving any commands on the interface. In your example, both users are connecting to the same Tamarin instance, I assume?

The easiest (and reusing the most of the cache) way to solve this is indeed Simon's suggestion 1. Generally, those cached pictures should

[2015-08-28 10:44] rsasse commented on #115
Simple comments pointed out here have now been included, in the commit https://github.com/tamarin-prover/tamarin-prover/commit/5cb332377f0534b71dbd1873629a4b16b8e01436

[2015-08-28 10:44] #115 closed

[2015-09-07 09:42] meiersi opened #158 "Reference to `bin-dists` repo that points to nowhere"
I think it is suboptimal to have a reference to precompiled binaries that do not exist. I therefore suggest to either create them or remove the information from the installation instructions.

[2015-09-07 13:42] jdreier commented on #158
We have not prepared binaries yet, this is supposed to happen once we have a stable release version. We are currently working on merging in the relevant branches. Once this is done, we will add the binaries.

[2015-09-29 14:44] katrielalex opened #163 "ghc 7.8 doesn't work on OSX El Capitan"
GHC 7.8 [does not support](https://ghc.haskell.org/trac/ghc/blog/weekly20150721#MacOSXElCapitansupport) the new OSX El Capitan, causing [compile errors](https://github.com/haskell/cabal/issues/2653). This means that Tamarin can't be built on updated Macs. How painful would it be to migrate to GHC 7.10?

(The root cause is the [new security measures](https://www.quora.com/Can-someone-elaborate-on-t

[2015-09-29 14:51] rsasse commented on #163
Not possible at the moment.

Let me be more precise. There are only 4 places in the code that need to be changed so that Tamarin compiles with GHC 7.10. They can be found with a simple

grep -r "GHC 7.10"

in the tamarin-prover directory.

The problem is that Tamarin then runs out of memory doing the simplest things, and we have no idea why. Feel free to make the above changes and try, maybe a new

[2015-09-29 15:32] rsasse commented on #163
As a work-around, just to use Tamarin, you can of course compile on a previous OSX version and copy the binary over to the newest one. We plan to soon release binaries anyway, see issue #158

[2015-10-19 14:39] rsasse commented on #158
bin-dists now exists. Binaries for Linux and MacOS X are available. Windows binaries to be added tonight.

[2015-10-19 14:39] #158 closed

[2015-10-19 14:40] rsasse commented on #150
Binaries created and uploaded to bin-dists. Should be portable and work. Let me know please.

[2015-10-20 14:19] rkunnema opened #165 "Build on MacOS El Capitan fails"
Building fails for me with several failures of this kind:

    --  While building package SHA-1.6.4.2 using:
         /Users/robert/.stack/setup-exe-cache/setup-Simple-Cabal-1.18.1.5-x86_64-osx-ghc-7.8.4 --builddir=.stack-work/dist/x86_64-osx/Cabal-1.18.1.5/ configure --with-ghc=/Users/robert/.stack/programs/x86_64-osx/ghc-7.8.4/bin/ghc --user --package-db=clear --package-db=global --package-db=/U

[2015-10-20 14:36] rsasse commented on #165
Tamarin currently does not support GHC 7.10 due to a compiler-version introduced memory leak. GHC 7.8 MUST be used, thus using your 'system-ghc' will fail. Apparently 7.8 is not available on MacOS10.11 (see also issue #163 for more details, as I do not have MacOS and thus cannot test anything), therefore you will need to use the binary made available in https://github.com/tamarin-prover/bin-dists

[2015-10-20 15:13] meiersi commented on #165
Ok this sounds like we need to fix that leak. Compiling in profiling mode
and limiting the heap space with +RTS -M1g should give us a heap profile
that we can analyze.

Cf.
https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/prof-heap.html

https://downloads.haskell.org/~ghc/latest/docs/html/users_guide/runtime-control.html#rts-options-gc

Ralf Sasse <notifications@github.com> schrieb

[2015-11-03 14:20] jdreier commented on #165
The reason for the memory leak was that the newer version of PrettyPrint, which comes with GHC 7.10, now has an instance declaration for NFData on Doc, which differs from the one that Tamarin used until now. By wrapping Doc in a newtype MyDoc I was able to overwrite the instance declaration with the old one, which fixes the leak. This is done in commit 2f95b431712f8e114c7240ebdd57e3d05bd859fb

Now

[2015-11-03 14:21] jdreier commented on #163
Thus is a duplicate of issue #165.

[2015-11-03 14:21] #163 closed

[2015-11-03 14:45] rsasse commented on #116
The example is available under related_work, and it is part of the regression tests.

[2015-11-03 14:45] #116 closed

[2015-11-03 14:46] rsasse commented on #150
With no comments to the contrary, this is considered closed.

[2015-11-03 14:46] #150 closed

[2015-11-03 14:47] rsasse commented on #147
Installation and usage instruction is available in a sensible manner, and it links to each other, thus closing.

[2015-11-03 14:47] #147 closed

[2015-11-03 15:00] meiersi commented on #165
Cool. Thanks for the investigation. I've added a note on how the `MyDoc`
fix could be improved even further. See:
https://github.com/tamarin-prover/tamarin-prover/commit/2f95b431712f8e114c7240ebdd57e3d05bd859fb#commitcomment-14156626

2015-11-03 15:20 GMT+01:00 jdreier <notifications@github.com>:

[2015-11-03 16:20] rkunnema commented on #165
On 03/11, jdreier wrote:

Awesome, I can confirm, it works for me.

--
Robert Künnemann, Ph.D.
Security in Information Technology, TU Darmstadt
Rheinstaße 75, Room B 6.13, D64293 Darmstadt
Phone: +49 6151 86 9509

[2015-11-26 11:54] jdreier commented on #165
I updated the fix according to Simon's comments. Closing the issue now.

[2015-11-26 11:54] #165 closed

[2016-03-30 16:23] #142 closed

[2016-04-04 23:53] decltypeme opened #170 "Syntax highlighting in atom"
Is tamarin syntax highlighting currently supported in atom? Is there a workaround about it?

[2016-04-05 08:42] meiersi commented on #170
No, there is not support for atom (yet). In fact, atom might not even have
been around when we first built tamarin ;-)

We would obviously very much appreciate a language bundle for Atom, if you
were to build it:
https://discuss.atom.io/t/creating-a-custom-grammar-or-language-package/16711

best regards,
Simon

2016-04-05 1:53 GMT+02:00 Islam Faisal <notifications@github.com>:

[2016-04-05 08:48] katrielalex commented on #170
Is (a grammar for) the .spthy format specified anywhere?

[2016-04-05 08:57] meiersi commented on #170
Not really. I'd probably start from these files here:
https://github.com/tamarin-prover/tamarin-prover/tree/develop/etc

The syntax-highlighting is quite grammar-unaware. It more or less just
knows how to highlight keywords and different kinds of literals.

2016-04-05 10:48 GMT+02:00 Katriel Cohn-Gordon <notifications@github.com>:

[2016-04-13 15:24] NorfairKing opened #171 "Allow (checked) annotations for lemma's"
We often want to annotate lemma's with whether they are verifiied or falsified.

Please add a way to add annotations to lemma's that specify whether they should be verified or falsified, and check those whhen `--prove` is supplied. Then make sure `tamarin-prover` exits with code other than `0` when these annotations are not consistent with the results.

Proposition for the syntax: `{-@ VERIFIED @-

[2016-04-13 15:30] meiersi-11ce commented on #171
You should be able to make all lemmas pass by negating the properties in the `{-@ FALSIFIED @-}` cases and using the `exists-trace` qualifier, as described in one of the later paragraphs in the following section of the manual: https://github.com/tamarin-prover/tamarin-prover/blob/develop/doc/MANUAL.md#security-protocol-theories

The exit code is probably not set properly. That should however be an

[2016-04-17 11:51] NorfairKing commented on #171
In my opinion indicating that a lemma fails to verify is more clear than postulating that its negative verifies, but that's just my opinion.

I cannot currently justify the time to figure out how/where to make this change. Maybe if you point me to the relevant files, it is be easier do.

For now I'll stick to my bash script that checks my custom annotations.

[2016-04-17 19:18] meiersi commented on #171
Ok.

I'd expect there to be falsified hypotheses, but falsified lemmas should ideally not occur in mathematical literature. That's the reasoning behind not supporting falsifiable annotations on lemmas.

[2016-04-17 21:27] NorfairKing commented on #171
I was indeed using the wrong terminology.
The 'thing' I'm trying to show is wrong, I can only describe as a `lemma`. In reality it's just a false statement, but I want to prove that.

[2016-06-27 15:23] cascremers opened #174 "Global macros"
Currently (June 2016), Tamarin supports local (non-parameterised) macro definitions through the (syntactical) rule-specific `let` construct.

In practice we often want additional (global) constructions. In particular, we would like support for parameterised global macros. E.g., something like:

[code]

where `CA` is some constant identity of the certificate authority.

We currently often use exter

[2016-06-27 15:25] cascremers opened #175 "Support for including external files"
In many models, we would like to include external files, e.g.,

[code]

to share resources and keep models manageable.

We currently often use external preprocessors (m4, cpp, ...) to achieve these results, but this introduces an additional dependency, and complicates parsing the models substantially.

[2016-06-27 16:56] meiersi commented on #175
Note that CPP processing is easy to include before parsing using
https://hackage.haskell.org/package/cpphs

One could just run it on all input files before parsing.
Am 27.06.2016 17:25 schrieb "Cas Cremers" <notifications@github.com>:

[2016-06-27 17:02] cascremers commented on #175
This is an interesting option, but since the spthy language is not quite
C/C++, we might run into unexpected problems later with quoting and
delimiters. I therefore feel that a built-in parser that is aware of spthy
(operating on the AST) is preferable.

On Mon, Jun 27, 2016 at 5:56 PM, Simon Meier <notifications@github.com>
wrote:

[2016-06-27 17:06] meiersi commented on #175
Yeah you are right. It's a cheap and hacky option; and we can probably
avoid quite a bit of pain by not using it.

Cas Cremers <notifications@github.com> schrieb am Mo., 27. Juni 2016 19:02:

[2016-06-27 19:22] katrielalex commented on #175
I support modifying Tamarin instead of using C++, but I'm not sure how much
of m4's functionality should be replicated. I guess nobody is expecting
large users to ditch m4 entirely, so perhaps we should support an
Authorised Way to Do It for m4 as well?

Some m4 tricks I've seen:

  - OnlyOne(x)
  - lemmas becoming axioms in different build configurations
  - pattern matching (RuleB('good') and Ru

[2016-06-27 19:44] cascremers commented on #175
Some things are easy done using simple constructions.
- I don't think "OnlyOne(x)" is a macro. It's an action that is used in combination with an axiom, usually.
- Lemmas becoming axioms, interesting. I guess this can also be solved by different outer wrappers and appropriate includes, but I guess this is one case where if/then would perhaps make sense.
- The pattern matching rule is an example of

[2016-06-27 20:00] jdreier commented on #175
Note that there already is a preprocessor which can be used to hide lemmas (including typing lemmas):
http://tamarin-prover.github.io/manual/book/009_advanced-features.html

[2016-07-04 15:54] cascremers opened #176 "The main page (readme.md) of master/develop still point to the obsolete manual"
These links should be updated asap to:

http://tamarin-prover.github.io/manual/

[2016-07-04 16:11] cascremers opened #177 "Global update of terminology"
For clarity and consistency, we would like to change the following notations in the tool, gui, and throughout input files.
1. "case distinction" -> "(set of all) possible sources"
2. "chains left" -> "partial deconstructions left"
3. "untyped case distinctions" -> "raw sources"
4. "typed case distinctions" -> "refined sources"
5. "axiom" -> "restriction"
6. "typing" -> "source" (in the context of

[2016-07-04 16:16] katrielalex commented on #177
For backwards compatibility I think the parser should detect old-format
.spthy files and emit a warning. Ideally it would also parse them correctly
by making the substitutions itself.

I'm not sure I know the full context, but I would argue against "source" as
the new definition of a typing lemma. If you don't know what it means it
makes no sense. I suggest something like "precomputation".

On Mon

[2016-07-04 16:29] jdreier commented on #177
Since we would call "case distinctions" "sources", the idea is to call "typing lemmas" "source lemmas", or in Tamarin syntax "lemma [source]" instead of "lemma [typing]". We decided against "precomputation" as it is not very precise.

[2016-07-04 16:36] cascremers commented on #177
The idea would be that "precomputation" becomes implicit: it is the process by which the "raw sources" are turned into the "refined sources". Source lemmas are exactly used for this process.

[2016-07-20 13:08] lordqwerty opened #178 "Natural Numbers"
From looking at the following example on page 22 http://e-collection.library.ethz.ch/eserv/eth:7360/eth-7360-01.pdf I cannot get it to run when copy, pasting and fixing the formatting.

Is this a feature that is not present or is there an alternative. Replacing `natural-numbers` with `multiset` still does not work.

The error I get:

[code]

Any ideas?

[2016-07-20 13:14] jdreier commented on #178
User-defined sorts are not currently supported in the production version of Tamarin. You can have a look at the otherwise obsolete branch feature-user-defined-sorts at  https://github.com/tamarin-prover/tamarin-prover/tree/feature-user-defined-sorts

[2016-07-20 13:14] #178 closed

[2016-07-20 13:18] kmilner commented on #178
I have a working merged branch in my fork, which you can find here: https://github.com/kmilner/tamarin-prover/tree/feature-user-defined-sorts

I wouldn't recommend using it for anything other than experimentation, as it's not necessarily sound.

[2016-07-20 14:18] lordqwerty commented on #178
Can I please request some clarification or even point to a small example which would illustrate this axiom please?

https://tamarin-prover.github.io/manual/book/006_property-specification.html#less-than

Maybe I have misunderstood this?

[2016-07-20 14:24] jdreier commented on #178
This axiom is used for example here: https://github.com/tamarin-prover/tamarin-prover/blob/develop/examples/sp14/STR.spthy

[2016-07-22 09:50] lordqwerty opened #179 "TamarinAssist a plugin for Sublime Text 3"
Hello,

Not sure who to contact but just to let you know I am currently working on a plugin for Sublime. It is very basic at the moment, and still need to add more to it. Mainly useful for Syntax highlighting at the moment to be honest.

You can view [TamarinAssist](https://github.com/lordqwerty/TamarinAssist) and its [Screenshots](https://github.com/lordqwerty/TamarinAssist/blob/master/SCREENSHOT

[2016-07-22 10:57] cascremers commented on #179
Dear Jorden,

Thanks, that looks great.

We already have some notepad plus and vim support (in /etc in the Tamarin
repo). In case you are interested, we'd be happy to integrate your Sublime
support into the distribution at some point.

Best,

Cas

On Fri, Jul 22, 2016 at 10:50 AM, Jorden Whitefield <
notifications@github.com> wrote:

[2016-07-26 16:49] lutcheti opened #181 "Undocumented warning + manual terminology"
### Warning
When using a function symbol corresponding to a destructor (i.e., at top level in lhs of an equation) in lemmas or axioms, an undocumented warning pops out:

  lemma `produceWarning' uses terms of the wrong form: `dec(Bound 1)'

  variables. If you encounter free message variables, then you might have
  forgotten a #-prefix. Sort prefixes can only be dropped where this is
  unambiguous

[2016-07-27 08:42] jdreier commented on #181
The warning is effectively not complete as it does not include the real reason. I came across the same problem while working on an extension that should be pulled back to the main repository soon, and I extended the error message there to include the following statement:

Reducible function symbols are function symbols that appear as the outmost function symbol on the left hand side of an equation

[2016-07-27 08:46] #181 closed

[2016-08-01 13:24] jdreier opened #182 "Clean up Tamarin's README.md, INSTALL.md and manual.md"
There is currently some overlap between the new manual and the existing documentation files.

[2016-08-01 13:25] jdreier commented on #182
Duplicate of https://github.com/tamarin-prover/tamarin-prover/issues/176

[2016-08-01 13:25] #182 closed

[2016-08-22 16:39] samscott89 commented on #170
Here's a pretty rough one I've been using for a while. It does the job fairly well:
https://gist.github.com/samscott89/df1e191a28bd21b0724d0909b2dff683
Example of output from the Tutorial.spthy: http://i.imgur.com/C8CINaj.png

This is for sublime text (in JSON format, needs to be [converted first](https://github.com/SublimeText/PackageDev#editing-existing-syntax-definitions)), but I think both are

[2016-08-26 16:37] samscott89 commented on #179
Cool stuff! Fellow sublime user here. I've been using this definition I hacked together a while ago: https://gist.github.com/samscott89/df1e191a28bd21b0724d0909b2dff683 (it converts to a .tmLanguage as opposed to sublime-syntax) which looks something like this: http://i.imgur.com/C8CINaj.png.

Feel free to use any of those patterns if you think they're of use. Note that there are a few m4 syntax h

[2016-08-31 16:23] lordqwerty commented on #179
Hello,

Just an update I have done some more work with the Syntax definition to include some of the syntax @samscott89  has written. See the [screenshots](https://github.com/lordqwerty/SublimeTamarin/blob/master/docs/SCREENSHOTS.md) again for the new look.

Also I have added some snippets for quick auto-complete and protocol theory writing. I will add a GIF shortly to show how quick you can now wr

[2016-08-31 18:13] mpdehnel opened #183 "There is no stable way to compile Tamarin"
I am really pleased that Tamarin is under active development, but there is no stable way that I can see to compile Tamarin. Sadly `master` is way out of date, and `develop` changes every day. I am not sure which commit in the `develop` branch is the one that created the binaries found in `/bin-dists/`, as there is no `1.0.0` tag or [release](https://help.github.com/articles/creating-releases/) in

[2016-09-01 12:35] jdreier commented on #183
The master branch corresponds to the last release (so not that out of date), currently the develop branch only contains minor improvements and bug-fixes. The last release however cannot be compiled under the latest version of MacOS X (but on previous versions!), but that is due to changes in MacOS. The develop version includes a solution to the MacOS problem, but has not been officially released y

[2016-09-01 13:40] mpdehnel commented on #183
So the head of the `develop` branch compiles just fine on Mac OS X 10.11 at the moment, whereas `master` doesn't. My understanding is that it's more than just a couple of minor changes to the compile chain that have resulted in it now working correctly.

What do you mean by 'the latest release'? The latest release [tagged or marked as such](https://github.com/tamarin-prover/tamarin-prover/releases

[2016-09-01 13:49] mpdehnel opened #184 "Tamarin complains about Maude v2.7.1"
Tamarin doesn't seem to like [Maude v2.7.1](http://maude.cs.illinois.edu/w/index.php?title=Maude_download_and_installation), even though 2.7.1 > 2.7. This is certainly the case on Mac OS X, where (with e.g. HomeBrew) 2.7.1 is the default Maude version.

I think the issue is that 2.7.1 != 2.7, and so it gives a stern warning. All appears to work fine with it apart from this warning.

[code]

Hopefu

[2016-09-01 14:39] katrielalex commented on #184
Source of problem: [Environment.hs](https://github.com/tamarin-prover/tamarin-prover/blob/e43c612055bbd5757e236f0d8de44912869014ac/src/Main/Environment.hs#L168)

Maude 2.7.1 looks like it came out around a month ago, from the wikipedia edit history (I can't find a repo or release notes).

[2016-09-01 14:45] rsasse commented on #184
Thanks for pointing out this issue with the new Maude release! Luckily it is bugfix only and thus should not affect Tamarin. Tamarin does work correctly with 2.7 and 2.7.1 either way, but it looks bad that the test fails.

FYI Katriel: Maude is available here: http://maude.cs.illinois.edu/w/index.php?title=Maude_download_and_installation

Sources are available here: http://maude.cs.illinois.edu/w/

[2016-09-01 15:04] mpdehnel commented on #184
Thanks Ralf!

[2016-09-01 15:13] rsasse commented on #184
Commit 79523b22efd686226ebe7bf8ac6c22965cc89a80 fixes this problem. Thanks for the report.

[2016-09-01 15:13] #184 closed

[2016-09-01 15:19] jdreier commented on #183
The latest release is the 1.0.0, i.e., the current state of the master branch, and the binaries in /bin-dists/. Yes, we forgot to tag them, and yes, they are from October 2015 - Tamarin does very irregular releases. And yes, the 1.0.0 does not compile under the latest MacOS, which came out after October 2015 and broke the compile chain (in October 2015 it worked, so complain at Apple for that one,

[2016-09-01 15:37] mpdehnel commented on #183
Hi Jannik,

Thanks for the response -- this is really helpful. I know that fixing the urgent bugs needs to come first, so I'm sorry if it seems like I'm chasing you! As discussed, I'd just be really grateful if, _when_ major bugs are fixed, someone can remember to add a release / version number to `master` as part of this. This would be really awesome.

Can I add the `/bin-dists/` binary to HomeBr

[2016-09-05 09:18] jdreier commented on #183
Hi Martin,

Yes, you can add it to cask, no problem!

Jannik

[2016-09-05 11:18] mpdehnel commented on #183
[Merged](https://github.com/caskroom/homebrew-cask/pull/24273). You should now be able to `brew cask install tamarin-prover` (after doing `brew update`). It sorts out the pre-requisites of `maude` and `graphviz` for you.
I'll submit the change to the manual, and email the mailing list to let them know too :-)

[2016-09-05 13:33] mpdehnel commented on #176
Additionally, the repo's sub-title links to the wrong URL:

Rather than https://tamarin-prover.github.io/

[2016-09-06 13:56] lordqwerty commented on #179
Made a quick short GIF of autocomplete. This mainly show cases the main ones. Any other suggestions?

![Autocomplete](https://raw.githubusercontent.com/lordqwerty/TamarinAssist/master/docs/img/autocomplete.gif)

Also does Tamarin have any support to check the syntax / guardedness of a file without causing it to run? The best solution I seem to have so far is `tamarin-prover --parse-only`. This is

[2016-09-19 08:32] jdreier commented on #179
At the moment the only solution is effectively to run `tamarin-prover --parse-only`

[2016-11-10 12:04] katrielalex opened #187 "macos Sierra messes with ghc in unfortunate ways :("
Stack has [macOS Sierra problems](https://github.com/commercialhaskell/stack/issues/2577), caused by [this GHC bug](https://ghc.haskell.org/trac/ghc/ticket/12479) which in turn is caused by the Sierra runtime loader imposing a random limit on the total size of commands in a dynamic library.

This has unfortunate consequences for people who want to use Haskell on Sierra. In particular, `stack` can

[2016-11-10 12:18] mpdehnel commented on #187
Yup, I get:

`--  While building package tamarin-prover-1.1.0 using:
      /Users/marnel/.stack/setup-exe-cache/x86_64-osx/setup-Simple-Cabal-1.22.5.0-ghc-7.10.3 --builddir=.stack-work/dist/x86_64-osx/Cabal-1.22.5.0 build exe:tamarin-prover --ghc-options " -ddump-hi -ddump-to-file"
    Process exited with code: ExitFailure 1
    Logs have been written to: /Users/marnel/Dropbox/tmp1/tamarin-temp/ta

[2016-11-10 13:15] jdreier commented on #187
I hope one day Apple will release new MacOS versions that don't break Haskell...

Recently I tried GHC 8, this migration will need some work on the code, so we won't be able to do it directly. Probably not even for the next planned release (coming soon hopefully).

[2016-11-10 13:17] katrielalex commented on #187
Interesting, I just compiled with GHC 8 and it seems to work fine! (Needed to not use the system GHC, and to remove the `instance HasResolution a => Binary (Fixed a)` from `src/Web/Instances.hs`, but otherwise seems ok.

[2016-11-10 13:19] jdreier commented on #187
If it's that easy we could do that for the next release. I'll have a look!

[2016-11-10 13:21] jdreier commented on #187
But there seems to be no stackage LTS for GHC 8.0.2 yet, the latest one is https://www.stackage.org/lts-7.8 which is still 8.0.1

[2016-11-10 13:24] katrielalex commented on #187
Ah, I compiled with 8.0.1 (lts 7.8), which I guess means either I'm being silly (very likely) or the fix is in 8.0.1.

[2016-11-10 13:24] jdreier commented on #187
Does removing the instance not cause any other problems? (This was the case for the last migration.)

[2016-11-10 13:26] katrielalex commented on #187
Well, it compiles, and it's Haskell so that means it's correct...right?

[2016-11-10 13:28] jdreier commented on #187
Last time it compiled, but running it caused it to eat your memory and crash...

[2016-11-10 13:30] jdreier commented on #187
Hmm the instance defined in Binary looks similar, maybe we are lucky.

[2016-11-10 13:54] jdreier commented on #187
This seems to work, preparing a commit.

[2016-11-10 13:55] katrielalex commented on #187
Awesome! Not sure if it's worth keeping compileability for older ghcs but you could always add an `#if __GLASGOW_HASKELL__ < 800` or something.

Thanks :)

[2016-11-10 14:44] jdreier commented on #187
Now we are using lts-7.8 with GHC 8.0.1. Does that fix the macOS issues?

[2016-11-10 14:56] katrielalex commented on #187
Weirdly, I get a whole bunch of errors in `monad-logger` (e.g. `Couldn't match type ‘m’ with ‘Strict.RWST r w s m’`) unless I do `stack install --no-system-ghc`. With the sandboxed GHC it's fine and compiles happily.

Might well be something to do with my local setup, and it's nontrivial for me to get a clean mac. Maybe @mpdehnel can check?

[2016-11-10 15:12] mpdehnel commented on #187
Stack version 1.2.0, GHC 8.0.1 (Stack installed from the website) and the head of the dev branch of Tamarin compiles just fine for me.

[2016-11-10 15:14] jdreier commented on #187
OK perfect, so I guess we can close this thread.

[2016-11-10 15:14] #187 closed

[2016-11-10 15:28] mpdehnel commented on #187
Worth stating in the build instructions for macOS is that you currently have to use Stack from their website, not the one in `homebrew`.

[2016-11-10 15:30] jdreier commented on #187
why does the `homebrew` stack not work?

[2016-11-10 16:02] mpdehnel commented on #187
My mistake; it was an issue on the previous version of `develop` which I incorrectly put down to the `homebrew/haskell-stack` install (as it gave me a different error to Katriel's).

This now builds correctly with the `haskell-stack` package installed through `homebrew`.

[2016-11-10 16:10] jdreier commented on #187
Good!

[2017-01-07 08:51] #171 closed

[2017-01-23 10:13] rsasse commented on #176
README.md link to manual is fixed, but we still need to fix (or deprecate):
INSTALL.md (remove file, and in README point to the installation part of manual)
manual.md (remove file, link already points to manual)
CONTRIBUTING.md (what to do here?)

[2017-01-23 14:17] jdreier commented on #176
I think the CONTRIBUTING.md just needs some cleaning up.

In the manual, the parts "Reasoning about Exclusivity: Facts Symbols with Injective Instances" and "Equation Store" require migration. The rest is already included in the new manual.

[2017-01-24 07:23] decltypeme commented on #134
Can you please provide a clue (part of manual or paper) that elaborates more on the attack finding method of Scyther

[2017-01-24 13:46] rsasse commented on #176
The MANUAL.md parts mentioned by Jannik still need merging into the manual, all the rest of the old manual has been removed, and a link to the new manual included instead. Unused file INSTALL is deleted.

CONTRIBUTING.md is cleaned up a bit, and ok to stay as-is.

All these changes are part of d848bace8502008e4f696aed4093aeed276e07e0

Merging remainder of MANUAL.md into actual manual and then dele

[2017-01-24 13:52] rsasse commented on #176
Oh, and thanks Martin, I just realized which link was wrong in the subtitle and finally fixed that. Ooops!

[2017-01-24 16:26] jdreier commented on #176
I moved the remaining parts from MANUAL.md to the manual, and removed MANUAL.md as well as the obsolete file on installing Tamarin on Windows.

[2017-01-24 16:30] rsasse commented on #176
Everything cleaned up and linked correctly now, closing the issue.

[2017-01-24 16:30] #176 closed

[2017-01-31 15:39] rsasse opened #190 "Observational equivalence: Renaming of public variables leads to opposite result in subcase"
This issue is exhibited by the attached two theories, where PartialFalseProof (in ex_partial_false_proof.txt (rename to .spthy!)) shows a proof for the RHS of Equality, and CorrectTwoAttacks (in ex_correct_two_attacks.spthy (rename to .spthy!)) shows attacks on both sides. The difference between the two files is solely the name of the variable $nH (in PartialFalseProof) vs the name $nH3 (in Correc

[2017-01-31 16:13] jdreier opened #191 "Private constants cannot be derived correctly"
There is a bug when using private constants and equations. In the attached example, the protocol outputs a private constant `k`, and we have the equation `m(k) = s`, where `m` is apublic function and `s` is another private constant. In this case, Tamarin falsely claims that `s` is secret, although it can be obtained by applying `m` to the protocol output.

This seems to be due to an overly aggress

[2017-01-31 16:26] jdreier opened #192 "Observational equivalence: Inequality axioms are not treated correctly in the case of public variables and string constants"
There is a bug when using public variables and string constants in conjunction with inequality axioms: in some cases, Tamarin incorrectly proves observational equivalence (see example file). This seems to be due to a problem when unifying string constants and public variables.

[example.txt](https://github.com/tamarin-prover/tamarin-prover/files/742516/example.txt)

This bug was originally found b

[2017-01-31 16:36] cascremers commented on #192
I'm clearly marking issues that *only* affect observational equivalence.

[2017-01-31 16:59] beschmi commented on #191
I would have expected this equation to be forbidden. Do you have any real use cases for this (or private function symbols in general)?

[2017-01-31 20:49] jdreier commented on #191
I don't have any real use cases, I came across the problem while working on the extension for non subterm convergent equational theories. But equations with constant RHS (like this one) are normally allowed even in subterm convergent theories. However, the problem only arises when also using private function symbols, as otherwise we have a corresponding constructor and `s` would be deducible via i

[2017-02-01 22:07] beschmi commented on #191
Private function symbols/constants have been added pretty late (with the CAV paper) and I think none of us really took rewrite rules that contain them in the RHS into account. So I think we have three choices:

1. Disallow them completely in the subterm-convergent theory.
2. Disallow them in the RHS.
3. No restrictions.

The first choice would be very restrictive, but free private functions like s

[2017-02-02 12:13] rsasse commented on #177
I am now leaning to "lemma [sourcerefinement]" as the replacement which is more precise but longer. I think it is used rarely enough to make this acceptable. Alternatively [refinesource] would be ok, too. Any thoughts?

Bullets 1-4 are already implemented.

[2017-02-02 12:15] katrielalex commented on #177
I think that is consistent with @cascremers above (precomputation refines raw sources into refined sources using refinement lemmas).

Of course the word "refinement" has some connotations but I guess that's not too much of a problem.

[2017-02-02 12:55] rsasse commented on #177
After some discussions, I tend to go back to "lemma [sources]" (note the plural). Unless someone objects, this will be used.

[2017-02-02 13:32] rsasse commented on #177
Regarding supporting the old terminology (backwards compatibility) in the parser for a while (until when exactly?), are there any opinions? Any good reasons? Katriel seems to want to support it, I think a clear cut may be easier. Jannik is ok with either. @cascremers what do you think?

[2017-02-02 15:17] katrielalex commented on #177
I think it would be good software engineering practice to have one release with a `DeprecationWarning` just so that people don't upgrade and have their models break, but I wouldn't object if you think that's too messy.

[2017-02-07 11:59] rsasse commented on #177
Due to using Parsec as our parsing library we can Either return a working parser, or an error message. We cannot do both at the same time. I have implemented both possibilities, but think that we should make such a change once and for all, thus the version accepting old input is commented out.

[2017-02-07 13:36] katrielalex opened #193 "Make signatures message-revealing"
Currently signatures are message-hiding: from `sign(m, sk)` there is no derivation of `m`. This is a bit icky:

- you have to remember to `Out(<m, sign{m}sk>)`
- not all signatures in practice are message-hiding

I think we should make the signatures message-revealing, by effectively doing:

[code]

(This is the suggested ProVerif theory for message-revealing signatures btw.)

Do people think this

[2017-02-07 14:02] kelnage commented on #193
I would personally vote to make this a separate class of signatures (say reveal-sign, reveal-verify, reveal-get) - as this surely has the potential to introduce attacks against existing verified protocols that assumed that sign would always be message hiding. I could also envisage using both message revealing and message hiding signatures, so I wouldn't want their function names to collide.

[2017-02-07 14:14] jdreier commented on #177
But you should be able to do some debug output using `trace`, right?

[2017-02-07 14:53] rsasse commented on #177
Yes... but it is unclean. And it only shows up at the point of parse, so if there is a lengthy analysis after, the user may very likely miss it. But I guess we progress in steps over a couple releases now:
1. Output deprecation warning.
2. Fail with the same reason.

Once SAPIC is adjusted we can pull-request that branch.

[2017-02-08 13:11] jdreier commented on #193
I am also more in favour of adding a different builtin, and explaining the difference in the manual.

I wonder why the original decision was to use `Out(<m, sign{m}sk>)` rather than another equation, I guess there might have been a performance reason?

[2017-02-08 14:02] jdreier commented on #127
Done since migration to GHC 8.

[2017-02-08 14:02] #127 closed

[2017-02-08 16:14] jdreier commented on #177
I updated SAPIC accordingly. It reads both the old and new keywords, emits a warning in case it encounters the old ones, and produces only the new output (even if the input file contained old keywords).

[2017-02-09 15:05] rkunnema commented on #193
Introducing attacks is not the right word here, imho. I think the following phrasing is more accurate: we risk pointing out attacks against protocols that are only verified because of the assumption that signatures are message hiding.

Considering that assuming signatures to be hiding is unusual for verification, I think that this is a good thing to have.

[2017-02-09 16:17] galadran commented on #193
From doing a little googling it seems you can extract the public key from a single signature in ECDSA, or from two signatures in RSA. In PGP you can extract the key id, which could be arguably modelled as extracting the hash of the public key. I definitely think adding those rules to Tamarin's defaults would be suitable, because they reflect real world capabilities.

On the other hand, I can't fin

[2017-02-09 16:33] rsasse commented on #193
There are two issues here: message extraction and (signature verification) key extraction.

1.) Dennis explains why we might want to allow such key extraction. We do send "Out" all public keys in all models I know of, so such key extraction is not needed (if modeled 'correctly'). On the other hand, this would make the built-in theory "safer to use" (for lack of a better term). The tricky part is t

[2017-02-09 17:43] beschmi commented on #193
I think we basically had the same discussion that we are having now and decided against the getmessage function symbol:
- If your protocol rules uses it, you're assuming a signature scheme with message recovery. This is often not a valid assumption because of hashing.
- Overapproximating the adversary and giving him the deduction rule arising from getmessage might be a good idea to get computation

[2017-02-10 10:17] rsasse commented on #177
See pull request #195 for the solution to this. The manual should be updated at the same time if at all possible.

[2017-02-10 11:09] lordqwerty commented on #177
Before the merge of this feature can a tag or release be made, such that for older models to be run in Tamarin can still be done? So users won't need to update to the new syntax immediately.

[2017-02-10 11:27] rsasse commented on #177
The new version still accepts the old input terminology, internally transforms to the new, and emits a deprecation warning. The output is of course in the new terminology.

[2017-02-10 21:40] lordqwerty commented on #179
To keep you all updated, I have made a PR for this to be in Package Control manager for Sublime Text 3: https://github.com/wbond/package_control_channel/pull/6123

Hopefully it will be added soon and I can add a README in here somewhere if that is of interest. The initial pre-release of the TamarinAssist plugin for Sublime Text 3 includes support for:

* Highlighting support in Tamarin for Keyword

[2017-02-11 11:30] meiersi commented on #179
Wow! That sounds awesome! Thank you Jorden!

Jorden Whitefield <notifications@github.com> schrieb am Fr. 10. Feb. 2017
um 22:40:

[2017-02-13 13:18] katrielalex opened #196 "'quoted terms' aren't proper strings to the spthy parser"
Quoted strings are parsed as `' + identifier + '`, which is more limiting than you might expect---in particular, you can't have spaces, and you can't use reserved words. Would it make sense to add a [`stringLiteral`](https://hackage.haskell.org/package/parsec-3.1.11/docs/Text-Parsec-Token.html) parse, perhaps with double quotes instead?

I found this because the term
[code]
gives a parse error at

[2017-02-13 13:22] rsasse commented on #177
This issue is closed as the update has happened with pull request #195 .

[2017-02-13 13:22] #177 closed

[2017-02-13 14:30] jdreier commented on #196
I guess that this will also require modification of the interface with Maude, so just modifying the parser is probably not sufficient.

[2017-02-13 17:11] cascremers opened #197 "Improving memory usage (and ultimately, efficiency) of Tamarin"
For security models with large complex terms (say, TLS 1.3....) @samscott89 observed that making the variable names shorter reduces Tamarin's memory usage, e.g., rename "VeryDiscriptiveVariableName" -> "VDVN". This should of course not be the case.

A deeper underlying issue (which we have known for a while and @meiersi noted it years ago) is that we often apply substitutions to terms (essentially

[2017-02-13 17:48] beschmi commented on #197
Don't we have to substitute in the second component then when we apply the next substitution? If we only care about memory usage, then hash-consing would be the standard solution. I'm using something like https://www.lri.fr/~filliatr/ftp/publis/hash-consing2.pdf in OCaml and it works quite well.

[2017-02-14 15:32] rsasse opened #198 "Observational equivalence: reordering of public variable arguments leads to opposite results"
The two examples attached are almost identical, and only differ in the order of arguments to the pairing under ShuffleAgents fact in the setup rule, and the AgSt_0 fact in the S_1 rule. It should be correctly mirrored in both cases, but does not do so for the one, claiming there is an attack. This seems spurious, and it is unclear where this is from. It seems likely related to #190 and/or #192

[e

[2017-02-14 16:11] cascremers commented on #197
We would of course have to store the sequence of substitutions, and unroll accordingly during traversal.

The hash-consing is an interesting alternative, but seems like it would not solve the copying issue of the substituted term structures? It's not clear to me at this point how much it would help in comparison to the 'store substitutions independently' solution.

[2017-02-14 16:13] jdreier commented on #193
An equation such as

is now possible, but would slow down the reasoning as it is not subterm-convergent.
I would therefore rather add another function `getmess`, but in a different builtin.

[2017-02-20 15:44] rsasse commented on #183
We have tagged a new release on the master branch which is up to date with develop. We would like to remove the bin-dists repository, so it would be great if we could integrate the new release with HomeBrew.

We will also update the installation part of the manual accordingly.

[2017-02-20 15:49] mpdehnel commented on #183
Great; are there going to be binaries (for each platform) as part of the 1.2 release?
Either way, I'll update Homebrew asap.

[2017-02-20 15:53] rsasse commented on #183
We decided to not produce binaries anymore. We will thus delete the bin-dists part of the repo. We also just updated the manual, except for the cask part.

[2017-02-20 15:54] rsasse commented on #183
By the way, for the cask stuff, is this linked to the bin-dists? Or can we safely delete that?

[2017-02-20 16:00] lordqwerty commented on #183
Looking at the cask recipe: https://github.com/caskroom/homebrew-cask/blob/b53752d76f719a4831ed711d8e20dcf4ea1dcf07/Casks/tamarin-prover.rb it appears that it is linked to bin-dists at current. So I would advise not to delete bin-dists for now.

Where would binaries be stored or are you wanting users to compile Tamarin themselves?

[2017-02-20 16:00] mpdehnel commented on #183
Cask requires pre-compiled binaries, so currently links to the `bin-dists` repo. Please leave that up until I have a chance to set it.

I have always wanted to add Tamarin to homebrew proper (i.e. not just cask), but this requires that it can be compiled on the same platform. That wasn't the case when I set it up. Now, with the 1.2 release, if this is possible, I'll migrate it from Homebrew Cask t

[2017-02-20 16:01] rsasse commented on #183
We would like users to compile their own Tamarin. Thank you for the migration work, Martin! Please let us know when we can safely delete the bin-dists.

[2017-02-20 16:02] mpdehnel commented on #183
Definitely -- it would be much better in Homebrew, as then they build from source, rather than just distributing a binary.

[2017-02-20 16:25] mpdehnel commented on #183
Having just built release 1.2, it doesn't recognise that Maude 2.7.1 is in fact newer than Maude 2.7. Could you fix this (and possibly roll-back/re-release 1.2?!)

I thought this had been fixed ages ago! :-(

[2017-02-20 16:33] rsasse commented on #183
When and where does that appear?

$ tamarin-prover test
Self-testing the tamarin-prover installation.

*** Testing the availability of the required tools ***
maude tool: 'maude'
 checking version: 2.7.1. OK.
 checking installation: OK.

is what I get.

[2017-02-20 16:35] mpdehnel commented on #183
Nope, my bad!! I did make on it, and apparently while it had compiled successfully, I didn't open a new terminal, so PATH mapped to the old version. Apologies. :-)

[2017-02-20 16:36] rsasse commented on #183
Phew, good! :) I was scared here for a second! No worries.

[2017-02-21 09:22] rsasse commented on #136
This would have to be checked on the Tamarin-parser side, such that no user-defined operator is also defined inside a built-in, with different underlying axioms. In your example, mult is defined as AC in Diffie-Hellman, and as non-AC by the user-definition.

Essentially, the safe thing when using BP/DH/multiset is to exclude all the operators with axioms defined in those from being user-definable.

[2017-02-21 14:36] jdreier commented on #183
It seems that we currently cannot migrate to homebrew because this requires migration to GHC 8.0.2 to compile without errors, however we use `derive` which is not supported in stack lts-8.x.

Migration of derive is currently under development ( https://github.com/ndmitchell/derive/issues/19 ), but it is unclear when it will be done.

[2017-02-21 14:37] katrielalex commented on #183
The derive maintainer has semi-quit and removed it from Stackage, which isn't a good sign. @kmilner is seeing how easy it is to remove the dependency on derive; it looks like it might not be too bad.

[2017-02-21 15:38] katrielalex commented on #183
https://github.com/tamarin-prover/tamarin-prover/pull/199

[2017-02-22 08:55] rsasse commented on #183
Now that #199 has been accepted, we are preparing a new minor release as v1.2.1 shortly.

[2017-02-22 14:15] mpdehnel commented on #183
The `make` process places `tamarin-prover` in `~/.local/bin/`
By inspection of the folders after the install process, it looks like the binary first ends up (locally) in `.stack-work/install/x86_64-osx/lts-7.18/8.0.1/bin/` -- do you know if this path is likely to change with different versions of stack (but the same 1.2 code)?

[2017-02-22 14:16] mpdehnel commented on #183
[Pull Request submitted](https://github.com/Homebrew/homebrew-science/pull/5176) to Homebrew Science. Will post more when it's accepted.

[2017-02-22 14:45] lordqwerty commented on #183
Nice work and I hope this does get submitted. I noticed this and remember I tried to get something in a while ago but it wasn't accepted. Looking at the manual [Acceptable Formulae](http://docs.brew.sh/Acceptable-Formulae.html) Tamarin Prover doesn't meet the requirements if you look at the "Niche (or self-submitted) Stuff" section.

I just checked the build and error log shows following:
`* GitHu

[2017-02-22 14:58] mpdehnel commented on #183
This is why we submitted it to Homebrew/Science, rather than main Homebrew :-)

[2017-02-22 14:59] lordqwerty commented on #183
The manual is applicable for any repository hosted under https://github.com/Homebrew/ which homebrew science is.

[2017-02-22 15:00] mpdehnel commented on #183
Hmmm, fair enough. It passes the audit absolutely fine when I run it locally in the Science tap, but not when I do in core. I guess we'll have to see what they say!

Otherwise it's still in Cask for now; this is a good way to get it out there easily and quickly for the meanwhile.

[2017-02-22 15:03] lordqwerty commented on #183
Yup I've tried to argue the case and the PR itself. They can use their discretion to accept it so fingers crossed.

[2017-02-22 15:07] mpdehnel commented on #183
It seems a bit odd -- `maude` is in the Science repo, but they have no way of knowing how 'niche' it is compared to others (not having a github repo). Hopefully it will be accepted.

[2017-02-22 15:13] lordqwerty commented on #183
Yup I got `maude` accepted when I started using Tamarin.

[2017-02-24 16:13] rsasse commented on #183
Any news on this? It seems the brew people are reasonably positive from looking at comments on the PR, but some issues remain to be figured out regarding compilation on their systems?

[2017-02-24 16:50] mpdehnel commented on #183
Hi Ralf,

So I think it comes down to the fact that Stack / Haskell / Cabal (can't remember which) has some weird requirement that says it won't build on macOS more recent than El Capitan. This is really frustrating, as it's not true (it builds fine on my machines and @kmilner, and @katrielalex's). We're looking into getting this sorted, but it might require a change to the offending system's own

[2017-02-24 17:22] rsasse commented on #183
Thanks for the explanation, these kinds of issues are really hard to debug and annoying! Thanks again for your efforts. And, I will keep watching.

[2017-02-25 15:18] mpdehnel commented on #183
@kmilner's take on the state of it:

Any objections?

[2017-02-25 15:35] katrielalex commented on #183
I suggest leaving distribution as a cask until Stack bootstraps with ghc 8.0.2 (that way we can do it right first time, and it's not urgent to get it into homebrew/science).

[2017-02-27 09:12] rsasse commented on #183
I agree with Katriel. Do it once, and do it right, right away. Less work for you as well. :) Checking if the stack people have an appropriate issue, and if not filing one, might be nice.

But let's be positive, from a practical point of view, Mac users can get all the dependencies and a release version of Tamarin installed using brew cask, so that's wonderful! Thanks a lot for that.

[2017-02-27 09:23] mpdehnel commented on #183
Agreed. [PR #5176 closed for now](https://github.com/Homebrew/homebrew-science/pull/5176). Once Stack gets this sorted we can re-visit. Thank you to all those involved in getting the release cycle sorted -- this has made getting 1.2 into `brew cask` much easier!

[2017-02-27 09:34] rsasse opened #201 "Add Tamarin to homebrew for source distribution"
This requires stack to resolve their bootstrapping issue with GHC 8.0.2 as discussed in #183 , so for now we wait.

[2017-02-27 09:35] rsasse commented on #183
Closing for now as there is a stable way to compile Tamarin.

Distribution via homebrew is still open in #201

[2017-02-27 09:35] #183 closed

[2017-02-27 09:56] mpdehnel commented on #201
![waiting-game](https://cloud.githubusercontent.com/assets/237223/23356777/066a9fa0-fcd3-11e6-908c-c7f6887d87e1.jpg)

[2017-03-10 15:53] lordqwerty commented on #179
This has now been accepted and merged. https://packagecontrol.io/packages/TamarinAssist now shows it is online and can be installed via package control. I will open up a PR with how to install this in Sublime.

[2017-03-14 09:56] cholewa1992 opened #203 "Issue with 'too many chain goals'."
Hi,

We are trying to prove a simple distributed asymmetric signing protocol with the following equational theory,

[code]

and the following rules and lemma

[code]

When trying to proof the lemma tamarin hangs after outputting the following:
[code]

If we substitute the equational theory with a simpler (and weaker form) such as

[code]

then it verifies instantaneously. We are wondering whether

[2017-03-21 13:18] rsasse commented on #63
At this point in time, no functioning Maude version is available for current Windows. GraphViz is not available either. So, there is not really any hope in running on Windows anymore, which we have removed from the installation instructions some time ago.

Thus, I am closing this issue.

[2017-03-21 13:18] #63 closed

[2017-03-21 13:24] rsasse commented on #113
Using the Maude Church-Rosser checker would be the right choice (maybe after checking orthogonality internally), but there are a number of issues:
1) What about a CRC timeout?
2) What about remaining critical pairs? The CRC often closes most, but not all, pairs, and then reports the remaining. We could of course report those (where? command line, GUI, or both), and tell the user that the theory is

[2017-03-21 15:42] katrielalex opened #205 "[diff] Possible error in `viewTerm`"
In https://github.com/tamarin-prover/tamarin-prover/blob/8098979ed5f1d47f5501107abd1b3339b0f5c9a3/lib/term/src/Term/Term/Raw.hs#L87, there is the worrying line
[code]
This seems to indicate that there might be an error in the diff mode definitions? Or perhaps the comment is just a bit out of date.

@rsasse comments in https://github.com/tamarin-prover/tamarin-prover/pull/204 that

[2017-03-21 15:47] rsasse commented on #205
No, actually if the diffside matters it should have been called via
viewTerm' dt
with the relevant side as argument "dt" and not via viewTerm (no prime here). Also, using DiffNone it would throw an error rather than just returning the whole term, which seems undesirable. I think it really is the comment that just was never changed.

[2017-03-21 15:48] katrielalex commented on #205
Cool, do close this issue if you think it's safe (I just wanted to pull it out from Kevin's optimisation PR).

[2017-03-21 15:48] jdreier commented on #205
I really don't think this is an error, just an outdated comment from when we started working on the extension, but give me time to check it.

[2017-03-23 11:11] cascremers opened #207 "Raw/refined sources are hard to navigate; it would be good to add a 'menu'"
When working with complex models in the gui, it is important to inspect the raw/refined sources.

However, navigating those sources is a bit of a pain (even though #206 makes it a lot easier than before to quickly identify partial deconstructions).

One could also imagine a little tree-like (e.g., indented bullet list) navigation thing at the top of that frame, that just lists the general cases (i

[2017-03-27 07:30] cschaffner opened #208 "does not build from brew"
When running
``` brew cask install tamarin-prover ```
I get the following error:
[code]

[2017-03-27 09:00] rsasse commented on #208
The URL it tries to download from is out of date and indeed does not exist anymore. We have updated that in brew quite some time ago though, right @mpdehnel ?

So this looks to me that you may have an outdated brew cask version that needs updating? No clue how to do that, as I do not use a Mac. Can one of our Mac users please chime in here?

[2017-03-27 09:04] katrielalex commented on #208
`brew update` should update homebrew-cask unless you're _really_ out
of date :)

On Mon, 27 Mar 2017, at 10:00 AM, Ralf Sasse wrote:

Links:

  1. https://github.com/mpdehnel
  2. https://github.com/tamarin-prover/tamarin-prover/issues/208#issuecomment-289394484
  3. https://github.com/notifications/unsubscribe-auth/AATSN1N9UUY_DkG6NcvWL2GU2xt5HWr6ks5rp3rIgaJpZM4Mp4uh

[2017-03-27 09:09] rsasse commented on #208
Please do let us know if this solves your problem, @cschaffner

[2017-03-27 09:37] jdreier commented on #205
I checked it, this is clearly an outdated comment. I will accept your pull request.

Closing this issue.

[2017-03-27 09:37] #205 closed

[2017-03-27 10:05] mpdehnel commented on #208
@rsasse: yup, as soon as the URL changed, homebrew cask changed as well.

25th Feb. https://github.com/caskroom/homebrew-cask/blob/master/Casks/tamarin-prover.rb

@cschaffner: please just use `brew update` and then try `brew cask install tamarin-prover` again.

[2017-03-27 12:21] jdreier commented on #203
This is expected behaviour. Given the equational theory in your example, the intruder deduction does not terminate, which in turn causes the precomputations to explode. Tamarin stops them at some point, but still uses quite a lot of memory.

The reason why the intruder deduction does not terminate is the following. The equation

creates the following deconstruction rule (slightly simplified):
`[ K

[2017-03-27 12:21] #203 closed

[2017-03-27 20:51] cschaffner commented on #208
Yes, indeed, updating brew solved the problem, sorry for the trouble, and thankf ro the quick reaction! I should have thought of that myself.

Maybe adding a line about this to https://tamarin-prover.github.io/manual/book/002_installation.html would prevent the same problem in the future.

[2017-03-27 20:51] #208 closed

[2017-03-28 11:38] rsasse commented on #16
Solved, see PR #209

[2017-03-28 11:38] #16 closed

[2017-03-28 11:47] rsasse commented on #179
Is there anything left we can do on this end? Otherwise we can close this issue.

In any case, thanks a lot for this addition! :+1:

[2017-03-28 11:56] rsasse commented on #148
This has been tackled by #209. Is that a satisfactory solution, or should additional information be shown?

[2017-03-28 12:24] lordqwerty commented on #179
Nope all good. 👍

[2017-03-28 12:24] #179 closed

[2017-03-29 09:13] mpdehnel commented on #201
This has [now been accepted](https://github.com/Homebrew/homebrew-science/pull/5176) into Homebrew Science!

Updating Mac install options imminently.

[2017-03-29 09:15] lordqwerty commented on #201
Does this mean the cask formula now needs deleting? If so it might be worth adding a small note in the manual to do this.

Great work! 👍

[2017-03-29 09:17] mpdehnel commented on #208
Hi @cschaffner: the manual clearly and explicitly says the first thing to do is run `brew update` :-)
<img width="770" alt="screenshot 2017-03-29 10 15 28" src="https://cloud.githubusercontent.com/assets/237223/24447385/aee10cb2-1468-11e7-90ce-fe3494b3ad20.png">

Ditto in the `If you don't have Homebrew and/or Cask installed` section :-)

[2017-03-29 09:41] mpdehnel commented on #201
Yes; I've now submitted a [PR to do exactly this](https://github.com/caskroom/homebrew-cask/pull/31549). :-)

[2017-03-29 10:02] mpdehnel commented on #201
@jdreier commented in the following [PR](https://github.com/tamarin-prover/manual/pull/23):

[2017-03-29 10:06] lordqwerty commented on #201
Running `tamarin-prover test` does not test for SAPIC.

If I run the Tutorial example I get:
[code]

The result of searching for OCaml in brew is:
[code]

So its already present in Brew. I will build from source now and see.

As @jdreier mentioned the [Makefile](https://github.com/tamarin-prover/tamarin-prover/blob/develop/Makefile) checks if OCAML is present. If it is, it compiles SAPIC and moves

[2017-03-29 10:13] mpdehnel commented on #201
My feeling is that SAPIC is a separate piece of software, which depends on Tamarin. I think if you want it to be listed, it should have its own formula, which requires Tamarin as a dependency.

[2017-03-29 10:17] lordqwerty commented on #201
I agree with @mpdehnel. Is there a way which the testing for `sapic` can be handled more elegantly? Such that it doesn't produce an error since it's not really an error.

[2017-03-29 10:20] katrielalex commented on #201
There could also be a `brew install tamarin-prover --with-sapic` option.

[2017-03-29 10:24] lordqwerty commented on #201
As part of `make default` since I have OCaml installed I get the following output:
[code]

The with SAPIC option sounds good.

[2017-03-29 11:01] jdreier commented on #201
@mpdehnel @lordqwerty : We discussed this among maintainers and we decided as a long term goal to integrate SAPIC in Tamarin. In a first step, we decided to include it in the Tamarin repository and make Tamarin automatically call SAPIC as a preprocessor if necessary. However, we decided not to force all users to install it, as it has the additional dependency on ocaml. Yet, if thanks to brew there

[2017-03-29 11:05] mpdehnel commented on #201
That's fine by me. I think the `--with-sapic` option works well. Whether it's done with this by default is up for discussion: if it is installed by default, there's always the possibility of `brew install tamarin-prover --without-sapic`.

[2017-03-29 11:12] lordqwerty commented on #201
See https://gist.github.com/lordqwerty/a5b721a073459955560492fe077fd4ce for my alterations to formula. There is also an error log from running `make sapic` which I'm hoping you may have seen.

The option `--with-spaic` isn't valid and produces the following in audit:
[code]

[2017-03-29 11:17] jdreier commented on #201
which version of ocaml are you using? is the make sequential or parallel?

[2017-03-29 11:18] jdreier commented on #201
I guess we also need the
`ENV.deparallelize`
for
`make sapic`

[2017-03-29 11:23] lordqwerty commented on #201
adding this also results in the same error...

[2017-03-29 11:41] lordqwerty commented on #201
This has now fixed. https://github.com/Homebrew/homebrew-science/pull/5346 opened. Will update with progress.

[2017-04-03 11:00] kmilner opened #210 "Incremental GUI updates in interactive mode"
Currently interactive mode involves re-downloading and re-rendering all prior proof steps each time the interface is updated, which makes it extremely slow to use interactive mode if there is a large proof previously completed.

Ideally, we would just fetch and rerender the changed bit, using something AJAX-y. This would also make the interface feel more responsive, since the browser wouldn't load

[2017-04-03 18:24] cascremers commented on #210
There is some overlap with #129 .

[2017-04-04 06:17] rsasse commented on #210
Issue #129 is mostly about the visual representation of the dependency graph changing, irrespective of performance/bandwidth for loading, which is what this issue is mostly about. So the two are likely connected, but complementary.

[2017-04-05 11:03] cascremers opened #211 "typo in tamarin prover --help"
`tamarin-prover --help` lists `L` as a possible heuristic, but this is a typo: it should be `l` (lowercase l).

[2017-04-05 13:11] jdreier commented on #211
Pull request accepted, done!

[2017-04-05 13:11] #211 closed

[2017-04-05 21:15] lordqwerty commented on #201
Complete in https://github.com/Homebrew/homebrew-science/pull/5346 and can now be closed off.
This builds `tamarin-prover` and `sapic` for Linux and OS X.

[2017-04-05 21:36] cascremers opened #213 "Proposal to have a default implicit action "RuleName" for all rules."
In some properties, it can be useful to refer to the rule name for certain time points, especially when specifying side-cases for actions that occur in multiple rules. One can easily encode this by adding an action `Rulename('X')` to each rule `X`, but it could be simply built in as an implicit action.

[2017-04-05 21:39] katrielalex commented on #213
[code]
I think this might cause more confusion than it solves, because it sort of blurs the line between rules and actions. No strong feelings, though.

[2017-04-06 08:24] jdreier commented on #201
Great, thanks a lot for your work!

[2017-04-06 08:25] #201 closed

[2017-04-06 10:35] rsasse commented on #213
I agree with Katriel in that it could lead to confusion, and increases the bar for a new user to read existing theories. Also, all you would get out of this is just that this particular rule is executed at a specific time-point. If you use your own fact you can combine this with the relevant information directly which may be easier to read after all.

Also, I don't mind too much either way, but if

[2017-04-06 10:38] katrielalex commented on #213
How about automatically making an action `Fact_foo` for each fact `foo` in the outputs of a rule? Still perhaps confusing, but would at least include the relevant data (e.g. `Fact_St_A_1`).

[2017-04-06 10:47] cascremers commented on #213
We went through all this when making the design decisions for Tamarin's
property language. (one can imagine __CONSUMED_Foo() and __PRODUCED_Bar()
facts; you could only display them when referenced in formulas).

Ok! Let's leave it as-is, I'll keep adding them manually.

On Thu, Apr 6, 2017 at 11:39 AM, Ralf Sasse <notifications@github.com>
wrote:

[2017-04-06 12:27] jdreier commented on #213
Actually we do something similar in the equivalence mode, but this is hidden from the user (notably to prevent the graphs from exploding in the GUI).

[2017-04-21 09:44] jdreier commented on #192
This bug is fixed in commit https://github.com/tamarin-prover/tamarin-prover/commit/b6c8834e79564585ab7a73e76bd9746a0b1938a7

[2017-04-21 09:44] #192 closed

[2017-04-23 09:40] jdreier commented on #213
Shall we close this issue for the time being?

[2017-04-23 09:58] cascremers commented on #213
Yes, let's close this for now.

On Sun, Apr 23, 2017 at 10:40 AM, jdreier <notifications@github.com> wrote:

[2017-04-23 10:00] #213 closed

[2017-04-30 13:39] lordqwerty opened #215 "Release including search for partial deconstructions"
One issue which was highlighted from the workshop in Paris was the ability to search for partial deconstructions is missing in `V1.2.1`. Can a release e.g. `V1.2.2` be made to include the commits for search?

This is wanted for users installing via `brew` as apposed from source.

[2017-05-03 11:23] rsasse commented on #215
Good point, yes this was an oversight. We should prepare a new release to coincide with publishing the slide deck from the Paris Tutorial. Thanks for pointing this out!

[2017-05-04 15:55] cholewa1992 opened #216 "Problems if input terms are not expanded."
Hi;

We are verifying a protocol that we are building and we have encountered some strange behaviour.

The protocol uses partial encryption and therefore we have the following functions and equations:
[code]

We have a secret channel where parts of the communication is done
[code]
Note that `enc(~n, pk)` is available to the adversary already as we have the rule

[code]

What puzzles us is:

1. Tha

[2017-05-11 09:42] jdreier commented on #216
Hi,

Thanks for your feedback. I had a quick look at your example, it seems that although the intruder rules are computed correctly they are not applied sufficiently. But I need to dig more into it.

[2017-05-22 16:44] katrielalex opened #217 "Operator precedence of + and ^ is inverted"
Tamarin parses `a + b^c` as `(a+b)^c`, which is perhaps not what you would expect but can be worked around with enough parentheses.

Unfortunately, it also prints `a + (b^c)` as `a + b^c`, which it then parses incorrectly. This means that the round-trip Tamarin -> download -> Tamarin does not work for protocols which use multisets of DH values: the proof will fail to load.

(found by @kmilner)

[2017-05-23 07:27] rsasse commented on #217
Weird. The first part of the issue is not what I would expect either, but is more a matter of taste and discussion, and we have to a bit careful not to break existing theories, even though I doubt there are (m)any?

The mismatch between the parser and the pretty-printer on the other hand must be fixed!

[2017-05-23 07:37] katrielalex commented on #217
Is it easy to get tamarin to pretty-print a proof in an automated way? Perhaps the regression tests could check the round-trip

[2017-05-23 10:48] rsasse commented on #217
The only location in the code where the whole pretty-printed theory is generated is in src/Web/Handler.hs in getTheorySourceR, which is called only when the user presses the "Download" button in the GUI. So, for getting access to this, quite a bit of work is required.

On the other hand, when calling "tamarin-prover FILENAME", it parses and then prints the theory. You could check if the above chan

[2017-05-29 11:30] rsasse commented on #215
A new release is now available as 1.2.2. :-)

I tried pushing it to brew also, but gave up when confronted with their wall-of-text of instructions for creating a pull-request for a 3-line change, particularly as I cannot run all their "brew this and that" instructions without brew on my machine. I have a fork in which I edited the three lines according to our release-notes.txt file, so you can use

[2017-05-30 06:45] lordqwerty commented on #215
Submit PR: https://github.com/Homebrew/homebrew-science/pull/5753

[2017-05-30 06:57] rsasse commented on #215
Thanks!

Sadly, the first build on their servers failed, due to a mismatch of SHA256 hashes. From looking at it, it seems they automatically rename the 1.2.2.tar.gz to tamarin-prover-1.2.2.tar.gz which of course changes the hash. If this is indeed the case, we also need to update the "release-tasks.txt" file for Tamarin to take note of this

[2017-05-30 09:04] lordqwerty commented on #215
So some versions now have a reliance on zlib, so linux builds for homebrew are a little more tricky. I'm trying to understand what the `--flag tamarin-prover:threaded` is doing in the Tamarin-Prover Makefile. Adding the flag as I have done in https://github.com/lordqwerty/homebrew-science/blob/22380adb30df567434936c150409b5616c59a2b0/tamarin-prover.rb#L34 is not happy. Can you shine a light on whe

[2017-05-30 09:10] jdreier commented on #215
If you do not use this flag, tamarin will only be single-threaded and thus noticeably less efficient. The single-threaded version is essentially only used for debugging purposes.

[2017-05-30 09:14] lordqwerty commented on #215
Can I please get some help on as to why this sequence of commands would fail?
[code]

I'm not familiar with stack so I'm a bit blind right now with how to fix.

[2017-05-30 09:24] rsasse commented on #215
I tried that command (well, as close as I can get to it), and it successfully works for me:

stack -j1 --local-bin-path=/home/rsasse/Desktop/tmp/tmp install --flag tamarin-prover:threaded

copying the resulting executable to the listed directory.

So I am guessing the problem is in the two extra-... flags. Or in their combination with the threaded flag. Do you have an easy test to see if the compi

[2017-05-30 09:28] katrielalex commented on #215
I also tried

[code]

and it seems to work fine, but then it also works without the extra flags at all so I'm guessing I have the zlib requirement already installed. Perhaps the argument formatting isn't working right on the linuxbrew bot?

[2017-05-31 07:26] rsasse commented on #215
From the PR thread over on the homebrew repo:

Which seems to indicate that the problem is really how the integration server is putting together the different arguments, as on our local machines the command did work, according to both Katriel and my tests. Maybe some escaping or quoting goes wrong, or there are missing spaces?

Aha, looking at the command as it is actually executed on Travis-CI:
s

[2017-05-31 10:34] rsasse commented on #215
Hi Jorden, thanks a lot for all your effort! I just looked at the current error log, and this:
https://travis-ci.org/Homebrew/homebrew-science/builds/237866904#L3331
still contains
--extra-include-dirs=/home/linuxbrew/.linuxbrew/opt/zlib/include --extra-lib-dirs=/home/linuxbrew/.linuxbrew/opt/zlib/lib
where instead I believe it should be:
--extra-include-dirs=/home/linuxbrew/.linuxbrew/opt/zlib.in

[2017-05-31 12:08] lordqwerty commented on #215
OK it builds. Turns out the `--flag` and `tamarin-prover:threaded` have to be passed as separate arguments in the given order.

[2017-05-31 13:29] rsasse commented on #215
Oh. So the white-space was the problem. Ugh. Great catch! :)

The remaining failure on jenkins is probably what iMichka mentioned about some issue on their side? So I guess we can wait for a response from them.

[2017-06-05 10:54] lordqwerty commented on #215
This is now fixed on Homebrew. Will wait for merge then close issue.

[2017-06-05 11:19] lordqwerty commented on #215
Closed via https://github.com/Homebrew/homebrew-science/commit/022f97be6433cee2622c2beca4a7657c94f566d4

[2017-06-06 07:19] rsasse commented on #215
Thanks a lot for all your effort Jorden!

[2017-06-06 08:36] katrielalex commented on #215
@lordqwerty +1 thanks for all the work!

Unfortunately I now get a 401 when I try to `brew upgrade`; it hits https://homebrew.bintray.com/bottles-science/tamarin-prover-1.2.2.sierra.bottle.tar. Perhaps bintray is having some problems?

[2017-06-06 08:39] lordqwerty commented on #215
Can you check if bintray is down. If not open issue on home-brew science

Kind Regards,

Jorden Whitefield

On 6 Jun 2017 09:36, "Katriel Cohn-Gordon" <notifications@github.com> wrote:

[2017-06-06 08:40] katrielalex commented on #215
Bintray looks up, I'll file an issue. Thanks.

[2017-06-06 08:40] lordqwerty commented on #215
I'll take a look of course. Tag me in issue if opened.

Kind Regards,

Jorden Whitefield

On 6 Jun 2017 09:36, "Katriel Cohn-Gordon" <notifications@github.com> wrote:

@lordqwerty <https://github.com/lordqwerty> +1 thanks for all the work!

Unfortunately I now get a 401 when I try to brew upgrade; it hits
https://homebrew.bintray.com/bottles-science/tamarin-
prover-1.2.2.sierra.bottle.tar. Perhaps

[2017-06-06 09:03] katrielalex commented on #215
I'll give it a few hours to see if bintray fixes it; I wonder whether it's just in a bottling queue at the moment. It's strange that it gives a 401 but it does at least degrade gracefully to compiling from source.

[2017-06-06 17:46] lordqwerty commented on #215
Just checked and I can't get the page to load https://homebrew.bintray.com/bottles-science/

[2017-06-06 17:55] lordqwerty commented on #215
I've submit issue https://github.com/Homebrew/homebrew-science/issues/5778 . I will reopen this also.

[2017-06-07 08:37] lordqwerty commented on #215
![screenshot from 2017-06-07 09-35-56](https://user-images.githubusercontent.com/1949133/26869585-d42c1d76-4b64-11e7-9cc1-8bdf717416f3.png)

All bottles now in Homebrew Science. Please try again.

[2017-06-12 09:18] rsasse commented on #215
The page is loading very very slowly: https://homebrew.bintray.com/bottles-science/
There is nothing we can do about that I guess, but at least in principle the bottles are there. Hopefully this does not trigger some timeouts on install. @katrielalex can you try reinstalling using brew on your mac, to see what happens?

[2017-06-12 15:17] katrielalex commented on #215
I'm away from my Mac this week; @kmilner can you try?

[2017-06-12 15:21] kmilner commented on #215
It worked fine, downloads fairly quickly. I think this issue is resolved.

[2017-06-13 07:18] rsasse commented on #215
Excellent, so we can close this (again)! Thanks everyone for helping out. :)

[2017-06-13 07:18] #215 closed

[2017-06-20 09:56] jdreier commented on #216
Can you please provide some more details?

Which of the lemmas should fail, and does not fail?

[2017-06-28 17:03] jdreier commented on #217
I guess one would need to code the test in Haskell, which is possible but a bit more work. There are for example some parser tests in Test.ParserTests

[2017-07-02 18:30] landave opened #221 "Simple inductive proof is generating many subcases"
Assume a client is storing a counter `CNT` that is initialized with 1. He then accepts every message containing a counter which is strictly larger than the current `CNT`, and updates `CNT` to the received value.

We model the counter with a multiset. The client accepts `CNT+x` for arbitrary `x`, and sets `CNT` to `CNT+x`.

Now, we'd like to prove the following: If a client accepted two values `CNT

[2017-07-03 10:49] kmilner commented on #221
The only thing I can think of for the heuristic would be to prioritise case distinctions with fewer multiset operations in them, though I don't know how useful that is in general. I think it would be a semi-accurate proxy for the number of cases that will be generated (without having to enumerate the splits for each case, which is quite slow).

For what it's worth, at the moment the first four opt

[2017-07-03 11:49] landave commented on #221
Thanks for your input. The idea of prioritizing case distinctions with fewer multiset operations seems great. If they are prioritized equally at the moment, it should be no problem to implement it.

[2017-07-03 12:05] rsasse commented on #221
Without checking the code I think the same holds true for all the AC-based-operators, i.e., multiset-+ and DH-*, as they are the only ones where the number of arguments can vary. Note that it is harder to trigger such an issue for multiplication (DH-*) due to multiplication-*-restrictedness.

Is it generally true that for all such cases the one with fewest sub-terms is preferred?

[2017-07-03 12:56] cascremers commented on #221
Kevin and I just discussed this point again. It seems that it is not always
clear what is preferred, but the idea is that a sub-optimal choice by the
heuristics simply hurts less if there are fewer subterms for multiset-+
(and indeed, perhaps DH). So I expect it won't hurt in general do
prioritise them. We can run a test and see what happens.

Note that morally, I'm unhappy about the fact that alp

[2017-07-03 15:35] rsasse commented on #217
As per PR #222 this should be fixed now.

[2017-07-03 15:35] #217 closed

[2017-07-10 13:48] EvaSleva opened #223 "Strange behavior using autoprove and heuristics"
I have run into some strange behavior when using specific equations and outputs.

When trying to autoprove the following theory (specifically the rules Rule_Destrd_1_commit, Rule_Destrd_1_fake, and Rule_Destrd_1_open) using observational equivalence it will not terminate and eats up all my memory.
However, when stepping through the proof by repeatedly pressing '1' in interactive mode (which should

[2017-07-10 14:09] kmilner commented on #223
From a quick inspection, this appears to occur whenever the autoprover hits a `MIRRORED` case, as in

[code]
at which point the autoprover seems to hang and continue spinning (and isn't cancelled if you cancel it in the interface, either.

Hopefully that helps diagnose the problem. I'm not very familiar with the diff part of the codebase myself.

[2017-07-10 14:17] kmilner commented on #223
Here's an example case: if you pick the goal with an arrow and hit `a` Tamarin will hang, whereas if you hit `1` followed by `a` it's fine.

[code]

[2017-07-10 15:29] EvaSleva commented on #223
Yes, exactly.
It is also interesting to navigate to that same goal, with "--heuristic='s'" set, and then pressing '1' repeatedly.
The result is then something like this:
(full file attached in the end)

[code]
And it keeps going...

[commit.txt](https://github.com/tamarin-prover/tamarin-prover/files/1136048/commit.txt)

[2017-07-11 14:20] jdreier commented on #223
I can confirm the problem, pressing 1 in interactive mode yields a proof, but the autoprover loops. I did a quick profiling run using the autoprover (both in interactive and command line mode), it seems to loop in

checkIndependence.checkIndependenceRec   Theory.Constraint.System             src/Theory/Constraint/System.hs:1016:5-170                     54.0   51.5

I will continue investigating.

[2017-07-12 13:02] jdreier commented on #223
I found the bug: there was a case where a potentially mirroreable instance contained a cyclic graph. The interactive mode did not check whether MIRRORED was applicable and thus did not enter the loop, whereas the autoprover did exactly that and cause the mirroring to loop. I added a check to detect cyclic graphs, and now the example works without problems.

See https://github.com/tamarin-prover/ta

[2017-07-12 13:20] #223 closed

[2017-07-13 12:29] EvaSleva commented on #223
Great it works.
But it still doesn't terminate if "--heuristic=s" is set. This might be a separate issue though.

[2017-07-13 14:51] jdreier commented on #223
This happens because the trace heuristics are not adapted to equivalence proofs, and cause loops. I would not consider this a bug, but it should maybe be documented better.

[2017-07-13 16:10] EvaSleva commented on #223
Ah, I see. Yes, better documentation would definitely clear up the confusion.

[2017-07-29 13:20] kmilner opened #226 "POST17 Case Studies and Precomputation"
In many of the POST17 examples the equational theory includes
[code]
In the precomputation step, the existence of `checksign(sign(m,sk), pk(sk)) = m` causes the chain goal solving to loop, generating cases like these:
![1](https://user-images.githubusercontent.com/8351604/28745024-dca2cccc-7466-11e7-87a5-c612e561bd54.png)
![2](https://user-images.githubusercontent.com/8351604/28745032-ee699e72-746

[2017-07-31 09:05] jdreier commented on #226
Let me answer your questions one by one, starting with the general ones, and finishing by the ones concerning the concrete case studies.

Yes, bounding the number of solved chain goals _in the precomputations_ is sound. The reason is very simple and can be seen in your graph: the chain goal is still open, so if this case is ever used by Tamarin later on, he will continue to solve the chain (in the

[2017-08-25 09:33] jdreier commented on #226
Since the pull request was merged, I think we can close this issue.

[2017-08-25 09:33] #226 closed

[2017-08-25 17:09] jdreier commented on #216
Effectively some cases Tamarin did not compute the variants of intruder rules correctly, this is fixed in commit https://github.com/tamarin-prover/tamarin-prover/commit/28195a5e337ea90265504314fa7b5e493c8b82ae
This prevented the intruder from applying all rules in all cases. Now the mentioned example works correctly.

Thank you @cholewa1992 for submitting this!

[2017-08-25 17:19] #216 closed

[2017-08-29 10:54] jdreier commented on #198
Note that although this is clearly unsatisfactory, it is not a soundness bug.

[2017-09-06 15:55] jdreier commented on #137
Fixed in commits https://github.com/tamarin-prover/tamarin-prover/commit/1b4bd1d166a7603ae9c7fda3b81c30a9721d5b8b and https://github.com/tamarin-prover/manual/commit/1f26e2d78e026500123c4742ec771c1a2ae2b2a4

[2017-09-06 15:55] #137 closed

[2017-09-11 17:05] felixonmars opened #234 "Doesn't build with binary-orphans 0.1.8.0"
[code]

[2017-09-11 19:03] kmilner commented on #234
The instance at https://github.com/tamarin-prover/tamarin-prover/blob/develop/src/Web/Types.hs#L83 was a terrible hack for Data.Binary.Orphans not including ZonedTime back when we had to switch to DeriveGeneric instances for GHC 8. I'm really glad it's now being added---when we bump the stack resolver to something that include 0.1.8.0 we can drop those three lines and it should compile normally.

[2017-09-11 19:21] jdreier commented on #234
For the moment stackage has only 0.1.6.0 in the stable branch and 0.1.7.0 in the nighly build, so I guess we will wait untly the stable LTS includes 0.1.8.0

[2017-09-15 15:59] galadran opened #235 "Output when only proving specific lemmas is unclear"
When using the `--prove=LEMMA` command, the resulting output is unclear as to whether it has assumed other lemmas in the file to be true in order to find the proof. For example the output from running `tamarin-prover model.spthy --prove=secret_lemma` is:

But in fact source_lemma, annotated with [sources], has been assumed to be true in order to generate the proof. A new user might not be aware of

[2017-09-15 16:17] rsasse commented on #235
Great, thanks for pointing out this issue! Yes, this Tamarin output is indeed possibly misleading if there are sources and reuse lemmas. But I think your proposed solution is not quite enough.

Without testing it, I think that any [reuse] lemma appearing before the "secret_lemma" would also be used in the proof of "secret_lemma" and would not even appear in the list of lemmas mentioned in the outp

[2017-09-15 17:56] galadran commented on #235
I guess my expectation would be that anything put into the constraint and assumed to be true would be listed explicitly. So ideally all textually earlier lemmas that were used will be listed with a warning that they were assumed to be true.

If that's not feasible, I guess a generic warning would suffice, but in the event the model is a very long file with multiple IFDEFs, it might be quite a burd

[2017-09-26 12:46] rkunnema opened #236 "SAPIC: substitute stops at binders"
Hi!

I was a bit confused by the behaviour of `let var = term in P` in SAPIC. If `var` appears within a binder in `P`, the substitution just stops. Let blocks in tamarin and embedded msrs in SAPIC behave differently. (`let m1 = t1 in let m2 = t2 .. in in(m1); out(m2);...` seems to be a common idiom nowadays to express boring processes without conditionals.)

@jdreier was their some rationale behin

[2017-09-26 14:12] jdreier commented on #236
I think this might come from applied pi semantics, where let expressions are interpreted as active substitutions which only apply to free variables. In Tamarin lets are more syntactic sugar, like a C preprocessor. I guess both points of view defend themselves, I do not have a strong opinion.

[2017-09-26 14:22] lordqwerty opened #237 "fromMTerm: unknown constant `MaudeConst 8 LSortPub'"
Hello,

When runnning one of my models I get the following error in both terminal and interactive mode:
<hr>
<h1>Internal Server Error</h1>

[code]
<hr>
Has anyone else observed this error message before?

J

[2017-09-26 14:24] jdreier commented on #237
Can you provide a minimal example to trigger this error?

[2017-09-27 13:40] lordqwerty commented on #237
Hi,

I've been doing some debugging of a model I am currently working on and I have identified the issue.
The following example makes little sense but does show how to reproduce the issue:

[code]

By removing the string from the equation `Signed`:
[code]
It produces the error.

More interestingly, if you substitute the string with some term `xterm` to produce the following:

[code]
And then run t

[2017-09-28 01:45] rsasse commented on #237
Hi Jorden, thanks for your question and the more detailed example!

Case 1) So, the original theory that you write that triggers this error is not allowed because you are using a quoted identifier ('test') in your equation. To explain why, realize that the equational theory is given to Maude with the signature you declare, which does NOT include all possible quoted identifiers as that would be an

[2017-09-28 13:55] jdreier commented on #237
Actually the first case was already raised in issue https://github.com/tamarin-prover/tamarin-prover/issues/137 and recently fixed, but is not released yet. There is also a modified version of the manual on the develop branch documenting this.

But the last case should actually raise and error, this needs to be improved in the implementation.

[2017-10-19 13:37] galadran commented on #235
As a related issue - the GUI also has this problem where unproven lemmas are assumed to be correct without warning.

Additionally, although the CLI does a good job of presenting well-formedness errors, the GUI doesn't show them at all. Some first time users have run into problems because in GUI-only mode they don't realise their protocol has serious errors.

[2017-10-19 14:03] rsasse commented on #235
Yes, once we address this in CLI, it should be addressed for GUI as well.

The warning message printing is indeed only done when loading from CLI, when using the GUI to navigate to a file and load it, no warnings appear. There is a flag --quit-on-warning though, which ensures no theories are loaded that trigger a warning from CLI, but when loading the same theory through GUI, even with the flag se

[2017-10-20 09:27] rsasse commented on #235
Unproven lemmas assumed correct in GUI is only relevant for sources and reuse lemmas. I do not see a good way how to explain this concisely on the GUI. Any ideas?

I have fixed the issue raised in my previous comment in a new PR #238 so now there are warnings shown on screen as well as the --quit-on-warning flag is respected, please take a look there if that is satisfactory regarding loading on GU

[2017-10-20 09:33] rsasse commented on #235
Once we address the assumption of unproven lemmas as correct in CLI, it should be addressed for GUI as well. I do not see a good way how to explain this concisely on the GUI, even when we have the information. Any ideas?

[2017-10-20 09:38] cascremers commented on #235
Hi,

One could imagine a variant of green (turquoise, or perhaps towards purple)
instead of green for proofs that have preceding unproven reuse lemmas,
possibly with a hover text that explains it.
Ideally (but I realise that it needs some more infrastructure) they could
then be turned green once all receding reuse lemmas are proven.

Best,

Cas

On Fri, Oct 20, 2017 at 10:33 AM, Ralf Sasse <notifi

[2017-10-20 09:38] katrielalex commented on #235
How about marking proofs in yellow instead of green if they are using an
unproven lemma? Or a warning bar at the top of the screen "lemma Foo is
reuse and unproven"?
I support your heavy-handed approach (refuse to load the gui with
warnings unless a flag is passed), mainly because @kmilner and I are
that sort of user: I run tamarin gui with a makefile that does a lot of
stuff, so don't always see

[2017-10-20 09:42] jdreier commented on #235
Unfortunately SAPIC systematically produces files that trigger warnings *sigh*, so failing on all warnings is probably not ideal.

[2017-10-20 09:44] katrielalex commented on #235
Hah. Does SAPIC invoke tamarin itself (and thus could pass `--unsafe-ignore-
warnings`)?

[2017-10-20 09:46] jdreier commented on #235
No, SAPIC only spits out the Tamarin input code. But we now sometimes call SAPIC from Tamarin, I guess in that case we could trigger the ignore-warnings option.

[2017-10-20 09:47] cascremers commented on #235
We were talking about passing command line options into the file, right?
Nick worked on this for a bit. Did this make it into develop? In this case
SAPIC-produced files could include an appropriate flag.

On Fri, Oct 20, 2017 at 10:44 AM, Katriel Cohn-Gordon <
notifications@github.com> wrote:

[2017-10-20 09:52] katrielalex commented on #235
Just to confirm, there are two separate issues here, right?

1. Tamarin will successfully verify nonsense without warnings if there is an unproven, false reuse lemma in the same spthy.
2. Tamarin only warns users in the command line, not the GUI, if there is a well-formedness error in the spthy.

[2017-10-20 10:16] kelnage commented on #235
This might be too much effort, but perhaps a separate log could be added to the GUI, that recorded all warnings and errors that occurred (with a proper notification for errors, and a smaller change such as colour or counter to inform the user of new unread warnings). This could allow a user to look back at previous warnings if necessary, and also wouldn't mean constantly disrupting a users workflo

[2017-10-20 10:32] rsasse commented on #235
Right Katriel, @katrielalex there are two issues. Your issue number 2 is fixed in my PR #238 and now gives warnings (the same as on CLI) when loading theories through the GUI "Load new theory" functionality. If you start on command-line, you see the warnings only there, not on GUI.

The other issue (what you called 1.) relates to reuse and sources lemmas which are assumed correct without warning.

[2017-10-20 11:50] katrielalex commented on #235
Makes sense, thanks @rsasse. One final question (sorry!): what guarantees does Tamarin give about proofs generated from a spthy with wellformedness errors? Is it true that any proof that actually loads is correct, or is it possible to prove a false-but-illformed lemma?

My worry here is basically that a novice user could do a Tamarin verification that looks superficially OK, and only an expert wou

[2017-10-20 13:58] rsasse commented on #235
Sorry to be very picky about wording here @katrielalex , but this needs to be said precisely. Theories with wellformedness errors (like malformed formulas) cannot be loaded! So this is safe.

Theories with wellformedness warnings on the other hand can be loaded, this includes for example:
- restrictions or lemmas that contain actions that are not used in any rule
- unbound variables (SAPIC special

[2017-10-20 13:59] katrielalex commented on #235
Got it, that makes a lot of sense. Thanks.

[2017-10-23 09:29] rsasse commented on #237
The last case that as you say should raise an error is actually used a number of times in SAPIC translated theories, like in examples/sapic/PKCS11/pkcs11-dynamic-policy.spthy  -- I think those rules with unbound variables on RHS are not actually ever needed or used? Wwhat's going on there @rkunnema or @jdreier ?

[2017-10-23 12:42] jdreier commented on #237
SAPIC generates multiset rewrite rules with unbound variables on the RHS, but they are always instantiated via axioms.

But the question here was about equations, and there unbound variables on the RHS should always result in an error.

[2017-10-23 12:48] rsasse commented on #237
Ah right, instantiation via axiom. This is quite similar to (in Maude parlance) using matching equations in the condition. This explains how that works, and means we should definitely not prohibit this.

Indeed, this observation limits this issue to the equations, and as those are unconditional, no unbound variables can be allowed. Thanks!

[2017-10-23 12:52] jdreier commented on #237
I am still not a 100% happy with this approach, because there is a reason why unbound variables should trigger a warning, and SAPIC habits users to ignore warnings. It would be cool if we could find a more elegant version at some point.

[2017-10-23 12:58] rsasse commented on #237
When not using SAPIC, any warnings should be taken serious at all times. ;)

We might want to add a new flag "--sapic-generated" (which would tie in nicely when including such information in the input file, a la #220, which would be part of the auto-generation) and when this flag is used, not display warning for unbound variables on RHS as long as they are """bound""" in some action at least? This

[2017-10-23 13:19] katrielalex commented on #237
I think that's a good idea but I would suggest having explicit feature flags (`--disable-warning-on-unbound-rhs --disable-warning-on-undefined-actions`) to make it clear what warnings are expected from SAPIC files. Otherwise I suspect `--sapic-generated` will become a bit magical.

[2017-10-23 13:22] rsasse commented on #237
Excellent point @katrielalex as the SAPIC generation can auto-include them (well, once we have that feature!) in its generated files, this would be a lot more descriptive for other users and use-cases.

[2017-10-25 09:37] lordqwerty opened #239 "UI in Firefox Quantum (v57)"
Hi,

Seems to be some small issues with rendering in Firefox Quantum. Some have been random I've not been able to reproduce. Any additional ones I find I will comment on this issue. Nothing "show stopping" that I've found yet.

**1. Top left, big green block appears.**

![screenshot from 2017-10-25 10-29-38](https://user-images.githubusercontent.com/1949133/31991413-a0395744-b96f-11e7-819d-527e266

[2017-10-25 12:16] rsasse commented on #239
The green block to the left is indeed weird, but as you say, no show stopper. The question is, if this is the result of a firefox only change, or a trend for all web browsers?

Regarding the error message and jQuery, we are using a 'slightly' older version of that library (v.1.5.1  from 2012), which we may have to update eventually if it breaks. Again the question, is this firefox only, or all bro

[2017-11-03 10:10] rsasse opened #240 "Report warnings again after theory is opened in GUI"
This is a feature request to report all warnings on the initial screen with the "quick intro" and "keyboard shortcuts" after clicking on a theory. All warnings were already emitted on the command line (when loading there), or in the popup (when loading in GUI), but this lets the user check at run-time if there happen to have been any warnings, rather than having to reload the file to see the warni

[2017-11-16 09:15] rkunnema commented on #236
Alright, I've removed those checks (befc4e9bb1ded5bb828311d31dc92e6988128ada) and now lets behave the same in tamarin and in SAPIC, i.e., they are syntactic sugar instead of active substitutions. (Which is also consistent with the lets for processes.)

[2017-11-16 09:15] #236 closed

[2017-11-16 09:22] rkunnema opened #242 "introduce hide_restriction attribute"
I've got a use case for a `hide_restriction` attribute that works similar to `hide_lemma`. It seems this requires only slight changes (a) to the parser (obviously) and (b) to `lib/theory/src/Theory.hs`.

I am not familiar with that part of the code, so if someone picks this up I am grateful, otherwise I'll come around to it eventually. 😄

[2017-11-16 09:50] kmilner commented on #242
This might be slightly tricky, because sources are precomputed with all the restrictions
https://github.com/tamarin-prover/tamarin-prover/blob/f31a8fa408fa4bc807dea23b4beaf51edbccd4d8/lib/theory/src/Theory/Constraint/Solver/Sources.hs#L367-L368
so we'd have to compute a different set of sources to use for that lemma. Not impossible, but makes it a bit more complicated.

Can anyone think of other b

[2017-11-16 14:04] rkunnema commented on #242
I see. You guys are using m4 for this sort of things, right?

[2017-11-24 11:27] mpdehnel opened #243 "Feature Request: Halt pre-processing on parsing error or wellformedness warning"
Would it be possible to add a command-line option that auto-halts the pre-processing (and everything else) if the parsing fails, generates any errors or type/signature mismatches, or wellformedness warnings?

I personally *never* want to continue if there is an error or warning, so it would make sense not to have to scroll back up through the pre-processing each time to see if it failed. (I recogn

[2017-11-24 11:29] #243 closed

[2017-11-24 11:30] mpdehnel commented on #243
Just found the "Quit on Warning" option; couldn't find anything relating to it in the docs! Will add it to them :-)

[2017-11-24 13:25] rsasse commented on #243
Hi Martin, the option really only seems 'documented' when starting tamarin-prover without arguments. Oops! Thanks for documenting it!

[2017-12-12 15:34] cascremers commented on #239
@lordqwerty I cannot reproduce issue (1) above on Firefox Quantum 57.0.1 (64 bit) on Ubuntu. Can you detail your setup and actions you took, so I can try to reproduce this phenomenon?

[2017-12-12 15:38] lordqwerty commented on #239
@cascremers this was for the Beta of Quantum (v57) and since made stable release seems to not be a problem any more. I think it is now safe to close the issue as I have not experienced any other UI issues in over a month now.

[2017-12-12 15:40] cascremers commented on #239
Okay, so it seems these were indeed very separate issues, as (2) is still open. Perhaps it is best to open (2) as a separate issue, and then close this one.

[2017-12-12 15:54] lordqwerty opened #244 "Tamarin GUI: Deprecated jQuery API"
![screenshot from 2017-12-12 15-48-55](https://user-images.githubusercontent.com/1949133/33893729-195880a0-df54-11e7-8d2c-3bd26671322b.png)

Errors as shown in screenshot.

Comment from @rsasse from https://github.com/tamarin-prover/tamarin-prover/issues/239:

[2017-12-12 15:56] cascremers commented on #239
Great, thanks Jorden!

Best,

Cas

On Tue, Dec 12, 2017 at 3:55 PM, Jorden Whitefield <notifications@github.com

[2017-12-14 13:00] jdreier commented on #237
Commit https://github.com/tamarin-prover/tamarin-prover/commit/2eabe25dc4a94a0704fb24f2f93ec19bc92b890c introduces an additional check so that Tamarin now refuses equations with free RHS variables, such as in case 3.

[2017-12-14 13:09] jdreier commented on #237
As we now also have the "--quit-on-warnings" option, I guess we can close this issue?

The "--disable-warnings" options should probably be a separate issue.

[2017-12-14 13:20] rsasse commented on #237
I agree with you Jannik. Thanks for fixing the problem! This issue can be closed (and I am doing so).

Right now, if the user wants to take warnings seriously they can use --quit-on-warnings. For suppressing particular warning messages, the audience is much smaller, and it can be added eventually.

[2017-12-14 13:20] #237 closed

[2017-12-14 16:12] jdreier commented on #240
This is implemented in commit https://github.com/tamarin-prover/tamarin-prover/commit/3248a07a74dd9ac5c8768bfb4d3e1a106746fa59

Now when clicking on a theory in the GUI, the first page shows all wellformedness warnings in a big red box. This should help preventing user errors.

[2017-12-14 17:52] rsasse commented on #240
Great! :+1:

[2017-12-15 12:40] jdreier commented on #240
I think we can close this issue now.

[2017-12-15 12:40] #240 closed

[2017-12-15 15:28] lordqwerty opened #247 "Broken symlink in lib/term"
There seems to be a broken symlink to a cabal config. https://github.com/tamarin-prover/tamarin-prover/blob/develop/lib/term/cabal.config . This file does not resolve to anything. Unlike in lib/theory and lib/utils they both have their own local `cabal.config`.

Not really an issue, but I wasn't sure if you were also wanting to constrain library versions. All compiles locally on my laptop fine, I

[2017-12-15 15:55] jdreier commented on #247
Actually all `cabal.config` files seem to be superfluous, I guess we can remove them.

[2017-12-18 13:59] jdreier commented on #247
Done in commit https://github.com/tamarin-prover/tamarin-prover/commit/fc4f1f180008c965dc24e99c48eb3e9a7d7c72c7

Closing the issue.

[2017-12-18 13:59] #247 closed

[2017-12-19 14:46] rsasse commented on #2
It is unclear, what the goal is supposed to be for this issue/reminder. Automated testing is great, but this issue is outdated and the command-line interface has been in use for 5+ years now. Unless you want to provide some more specifics I am closing this issue now.

[2017-12-19 14:46] #2 closed

[2017-12-19 14:47] rsasse commented on #71
Also, we do not support Windows anymore due to dependencies not doing so (Maude+graphviz), thus no user should be on Internet Explorer. Closing.

[2017-12-19 14:47] #71 closed

[2017-12-19 14:54] rsasse commented on #170
If anyone wants to support highlighting in their favorite text editor, we are happy to receive pull requests. Closing this issue.

[2017-12-19 14:54] #170 closed

[2017-12-19 16:04] rsasse commented on #196
Identifiers are passed along to Maude. So if you allow general identifiers with spaces, then these MUST be renamed before being passed to Maude. This could lead to clashes when translating (and translating back) and is not really worth the effort imho. If you have a really strong use case, please let us know and reopen.

[2017-12-19 16:04] #196 closed

[2017-12-19 16:23] rsasse commented on #234
Binary orphans is now in version 0.1.8.0 on the stable LTS 10.0. So, as soon as we upgrade this problem will be solved. Note that LTS 10.0 currently has an issue parsing flags with consecutive -- which is a show stopper due to cassava using this. An older nightly of stack has solved this, but it seems not to work for LTS 10.0. Needs more investigation.

[2017-12-19 16:27] rsasse commented on #94
If we focus on the first sorry directly, the user will never see the quick intro and shortcuts page, which is problematic. Right now, the shortcut "j" works fine to get to the next item, and then to press [aAbB] once at a sorry.

If on press of [aAbB] on theory header we go to the first lemma and start auto-proving this does not really seem like expected behavior to me. Worse, if we did the same w

[2017-12-19 16:40] rsasse commented on #118
Thanks for the detailed explanation Simon! I think there is nothing we can do for Robert regarding this behavior in particular.

[2017-12-19 16:40] #118 closed

[2017-12-19 16:44] rsasse commented on #125
This is a duplicate of #94 **where @cascremers said:**

Currently if you select a theory in the GUI you can't just hit 'a' for autoprove, because you first have to select the 'sorry' corresponding to the property. Often you just want to auto-prove the first sorry, so we could shortcut this additional mouse click by automatically focusing on the first 'sorry'. Then the shortcuts works immedately.

[2017-12-19 16:44] rsasse commented on #94
Discussion continues in #125

[2017-12-19 16:44] #94 closed

[2017-12-20 08:42] rsasse commented on #242
For generating separate files, or even very similar ones with restrictions on and off, a pre-processor (like m4) is an easy way  to achieve this. As described by Kevin, allowing this per-lemma would require per-lemma sources computation, which also may lead to the user misunderstanding the semantics. So for now, we will not add this feature, unless a much better use case is presented.

[2017-12-20 08:42] #242 closed

[2017-12-20 09:45] rsasse commented on #143
The given axiom and typing lemma are self-referential and trivially fulfilled. The automated search jumps into an infinite loop, trying to find *another* instantiation, which just loops. Therefore, do not use such lemmas.

[2017-12-20 09:45] #143 closed

[2017-12-20 09:47] jdreier commented on #143
It would still be cool if we could somehow detect/prevent such errors.

[2017-12-20 11:30] rsasse commented on #136
Actually, all the operators defined in the built-ins must be protected from being overwritten by the user, not just those with axioms attached, so they are now all turned into protected function names. Note that this means if a theory used one of these names before, a renaming of user-input will be necessary.

This is fixed as-of commit 5104bb76ca3f953642958c7894fddb723eeaf5a3

[2017-12-20 11:30] #136 closed

[2017-12-20 11:37] rsasse commented on #125
After looking at the code, using the keys "aAbB" to immediately start auto-proving the first lemma is not a tiny change, as currently the keys are context sensitive and only available when the current focus is a lemma (i.e., a sorry). To address the confusion issue of the user I have added an extra sentence to the explanation of a/A/b/B:

Needs to have a sorry selected to work.

This is included a

[2017-12-20 11:37] #125 closed

[2017-12-20 11:41] rsasse opened #248 "Feature Request: [aAbB] keys on theory overview should start proof of first lemma"
According to #94 and #125 this is a feature saving the user one click, and may help new users as well.

Quoting @cascremers :

This feature would do exactly that, on press of [aAbB] switch to first sorry, and then start the proof at once.

[2017-12-20 11:51] rsasse commented on #210
Also note the related issue #130 which focuses on a new graph display. Overall it seems there are a number of GUI changes and features that would be nice-to-have.

[2017-12-20 11:54] jdreier commented on #193
Commit https://github.com/tamarin-prover/tamarin-prover/commit/ec768d90406b4153f37ea1c167618a76ed30c687 introduces a new builtin revealing-signing.

I now need to update the manual.

[2017-12-20 12:59] jdreier commented on #193
The manual is updated accordingly:

https://github.com/tamarin-prover/manual/commit/c09148343ecf61fabfb7a88a3e18c913002ae338

[2017-12-20 15:01] rsasse commented on #134
This is not going to be simple for Tamarin, as your second bullet will not be easily satisfiable.

Tamarin happily adds duplicates rule instances, as they MIGHT be different. If it turns out they have to be the same, they can be unified later (which would reduce the cost function's value most likely!).

Scyther on the other hand does an immediate case distinction: (i) there is only one such rule i

[2017-12-20 15:02] rsasse commented on #193
Thanks for adding this, Jannik!

[2017-12-20 15:02] #193 closed

[2017-12-20 15:26] lordqwerty commented on #244
This issue may be worse than thought. I've just tried to upgrade` jQuery` to v3.2.1, which caused an issue with `jquery-layout`. The jquery-layout requires use of the `.selector` function (https://api.jquery.com/selector/), and it was deprecated in jQuery v1.7 and removed as of jQuery v3.x. Therefore, `jquery-layout` is unlikely to be updated as it was last updated in 2014. I'm not sure what impli

[2017-12-20 15:29] lordqwerty commented on #244
![screenshot from 2017-12-20 15-26-28](https://user-images.githubusercontent.com/1949133/34214452-6d7b3262-e59a-11e7-89f8-d0a7f3a72438.png)

[2017-12-20 15:29] rsasse commented on #244
There are a number of other open issues surrounding the GUI in general, so this will probably also have to wait for some time when all of them are tackled.

[2017-12-20 15:47] rsasse commented on #248
All GUI changes should consider the jQuery version issues described in #244 and first port to a modern version.

[2017-12-20 15:48] rsasse commented on #235
All GUI changes should consider the jQuery version issues described in #244 and first port to a modern version.

[2017-12-20 15:48] rsasse commented on #210
All GUI changes should consider the jQuery version issues described in #244 and first port to a modern version.

[2017-12-20 15:48] rsasse commented on #207
All GUI changes should consider the jQuery version issues described in #244 and first port to a modern version.

[2017-12-20 15:48] rsasse commented on #130
All GUI changes should consider the jQuery version issues described in #244 and first port to a modern version.

[2017-12-20 15:48] rsasse commented on #129
All GUI changes should consider the jQuery version issues described in #244 and first port to a modern version.

[2017-12-20 15:49] rsasse commented on #128
All GUI changes should consider the jQuery version issues described in #244 and first port to a modern version.

[2017-12-21 12:13] rsasse commented on #248
This issue is resolved due to PR #249, particularly commit 5c5e0e761619f7cd6d2acf1226116e368e3786dc

[2017-12-21 12:13] #248 closed

[2017-12-22 00:55] galadran opened #250 "N4DiffTest - Increasing running times"
*For those already enjoying their Christmas breaks - there's nothing urgent in the rest of this issue, I'm just filing it so it doesn't get lost whilst I'm on my own break.*

The file [/examples/features/equivalence/N4DiffTest.spthy](https://github.com/tamarin-prover/tamarin-prover/blob/develop/examples/features/equivalence/N4DiffTest.spthy) has undergone a dramatic increase in running time in the

[2017-12-22 08:54] rsasse commented on #250
This is indeed quite interesting to see. I checked briefly on current version, and clicking manually the attack is as quick to find as before by selecting the "pub" instantiations. I then decided to run both the oldest and newest versions using (default) DFS first, and indeed, your numbers are what I get, which is confusing.

For attack finding, perhaps BFS is a better comparison than DFS, as ther

[2017-12-22 14:45] jdreier commented on #250
I think there is an easy fix for most of the slowdown, by reordering the cases in a more intelligent way. I will have a look at that after the holidays.

[2018-01-17 16:18] rsasse opened #251 "Mac installation HowTo? homebrew/science now deprecated"
Tamarin was installable on MacOS using brew, as it was included in homebrew/science. Sadly, this has now been deprecated according to
https://github.com/Homebrew/homebrew-science
There is an issue on that repo discussing which software to move to their core
https://github.com/Homebrew/homebrew-science/issues/6331
but Tamarin did not make the cut .

The question now is whether one of our MacOS user

[2018-01-17 16:34] lordqwerty commented on #251
It seems not all is lost, would should be able to migrate the tamarin-prover formula to Brewsci https://github.com/brewsci

Looks like we'll have to drop Linux support for it to go there though as its marked as legacy. https://github.com/brewsci/homebrew-science

The other alternative is we create our own tamarin-prover tap as specified here: https://docs.brew.sh/How-to-Create-and-Maintain-a-Tap.h

[2018-01-17 16:35] lordqwerty commented on #251
Actually Tamarin is already there see: https://github.com/brewsci/homebrew-science/blob/master/Formula/tamarin-prover.rb

So just update the manual and keep an eye on that repo

[2018-01-17 16:36] rsasse commented on #251
So, these commands should work instead of what's in the manual?
brew tap brewsci/science
brew install brewsci/science/tamarin-prover

[2018-01-17 16:39] lordqwerty commented on #251
I'm doing a manual update. Give me 5 mins :)

[2018-01-17 16:46] lordqwerty commented on #251
See https://github.com/tamarin-prover/manual/pull/37

[2018-01-17 16:52] kmilner commented on #251
Note that brewsci is there for archive purposes only, so as soon as we have a new release we won't be able to update the formula. We could have our own formula for users to install but then they'd have to go through the ~130 package haskell installation instead of having a bottle...

We could also compile our own mac binary with releases, I think we have enough mac users that it wouldn't be too ha

[2018-01-17 17:11] lordqwerty commented on #251
@kmilner that is a good point as no PRs will be accepted in future. This also means having to maintain Maude if we create our own tap. Also requiring more dependencies for the user.

[2018-01-17 18:29] rsasse commented on #251
Is there a chance we get Tamarin into the brew core? Including of course Maude and GraphViz? Otherwise, how much of a hassle is it to compile from source on Mac? Essentially, install stack, maude, graphviz, clone the repo and hit make? Or am I missing something?

[2018-01-17 18:33] rsasse commented on #251
I guess this means that the linuxbrew version will not work any longer either? Well, until we touch that in the manual we can wait and see what happens with macos.

[2018-01-17 22:23] mpdehnel commented on #251
Compiling and distributing a binary for macOS is fine (and I'm happy to
keep on top of that), but it is nice to have a mechanism as easy as 'brew
install tamarin-prover'. If we could find a way of maintaining it within a
major package manager I would be pleased.

M

On Wed, Jan 17, 2018 at 6:33 PM, Ralf Sasse <notifications@github.com>
wrote:

--
Martin

[2018-01-25 16:21] katrielalex opened #252 "Add a regression test for operator precedence"
#217 was an operator-precedence bug not caught by the regression test suite. We should probably write some tests to catch this and similar issues in case they arise again.

(cc @rsasse @kmilner)

[2018-02-28 13:12] rsasse opened #253 "Release 1.2.3 - add to package managers"
We have a new release, 1.2.3, available at https://github.com/tamarin-prover/tamarin-prover/releases/tag/1.2.3 and would like to distribute it via package managers again.

One open question is what to do for MacOS as homebrew-science (from my very limited understanding) is not being updated any more. Any ideas or suggestions? Or do MacOS users have to compile from source from now on? In any case,

[2018-02-28 13:14] jdreier commented on #253
We also need help for Linuxbrew, Arch Linux and Nix/Nix OS.

[2018-02-28 13:35] katrielalex commented on #253
I am not sure what the right thing to do re: Homebrew is, but it seems that it would not be so hard to [start a tap](https://github.com/Homebrew/brew/blob/master/docs/How-to-Create-and-Maintain-a-Tap.md) for Tamarin. I think that would also solve the Linuxbrew problems, and I will try to take a look at doing that when I need a thesis break.

Note that we would no longer get free compilation, thoug

[2018-02-28 13:55] mpdehnel commented on #253
Ok, (sorry @katrielalex for spoiling your fun) I've created the test-tap https://github.com/mpdehnel/homebrew-tamarin with 1.2.2, so users can now do `brew install mpdehnel/homebrew-tamarin/tamarin-prover`

It's *really* super simple to set up, so either feel free to fork my repo and update to 1.2.3, or just copy the structure of how I set it up.

I guess if it's going to be in the tamarin-prover

[2018-02-28 13:55] katrielalex commented on #253
I am testing now, but

[code]

should do a from-source install of Tamarin and its dependencies (maude, buddy etc) on Mac, and I guess on Linuxbrew as well though that's harder for me to test (@lordqwerty?).

[2018-02-28 14:00] katrielalex commented on #253
Fixed a couple bugs (needs libbuddy as well) and updated to 1.3.3 in `katrielalex/homebrew-tap`. Note that you can omit the `homebrew-` prefix from the command, so
[code]
should do a from-source install on all versions of OSX. (Linuxbrew I'm not sure about.) Will test a bit, and then we can migrate to the tamarin-prover org.

Getting bottling working is rather more of a challenge; I guess we could

[2018-02-28 14:08] rsasse commented on #253
There is no rush on this, and many thanks to you all for looking into this! Whatever solution works in the end just needs to also be put into the manual once we are sure it's final.

[2018-02-28 14:13] michaelpj commented on #253
It just builds with stack and make, right? Should be pretty easy to write a nix expression for.

[2018-02-28 14:16] rsasse commented on #253
Yes, stack and make are all that's needed for build. For use, also graphviz+maude must be available on the system.

[2018-02-28 14:21] jdreier commented on #253
For sapic we also need ocaml, but that is optional.

[2018-02-28 18:14] michaelpj commented on #253
It seems to already be packaged in nixpkgs at 1.3.0 (?). Looks like @thoughtpolice is way ahead of you.

[2018-02-28 18:17] rsasse commented on #253
Well, 1.2.3 is the new stable release, while the odd numbered 1.3.0 is the old develop version. The new develop version number is now 1.3.1. So 1.3.0 is old, and either stable 1.2.3 or dev 1.3.1 would be the goal to have packaged. I think @thoughtpolice packaged 1.3.0 because 1.2.2 (old stable) was already quite old at the time.

[2018-02-28 18:22] michaelpj commented on #253
(Katriel asked me to remind him: installing from nixpkgs will get you binaries, no compilation required.)

[2018-02-28 20:47] thoughtpolice commented on #253
Hmmm, this is a bit of an annoying change for NixOS, because when users try upgrading their locally installed packages (`nix-env -u`, basically), it uses version number comparisons between the currently installed name and what the update shows -- meaning 1.3.0 will always be > 1.2.1, even if I push it through. So users who have installed declaratively will always have an outdated version... (I'll

[2018-03-01 06:54] felixonmars commented on #253
The Arch package has been updated.

One small question: is it possible to distribute new releases on Hackage? Currently it's stuck at 0.8.x.

[2018-03-01 12:08] michaelpj commented on #253
I don't think it's too bad for Nixpkgs - we occasionally get weird version transitions e.g. from things that are at an unreleased SHA to an actual version. I think we should just bite the bullet and switch the version.

One other thing I noticed in the Nixpkgs derivation is that it uses a version of sapic from somewhere else, but it seems like there's now a version bundled in the tamarin repo, whi

[2018-03-01 14:08] rsasse commented on #253
Regarding SAPIC @michaelpj , yes it would be best to use the one inside the tamarin repo from now on.

Regarding @felixonmars hackage question, tamarin is marked as deprecated there, so no new releases will likely be made there. This is unless someone interested volunteers to figure out what needs to be done to be included, and makes the right pull request.

[2018-03-13 11:44] jdreier commented on #253
To restart the discussion, what is now the current state? Do we have solutions for brew and linuxbrew? Are both solutions working?

And what about Nix?

[2018-03-13 11:52] katrielalex commented on #253
As I understand it there are a few suboptimal options if we want to keep using homebrew

 1. we can distribute to mac and linux with homebrew by hosting our own tap, which will give easy from-source compiles (`brew install tamarin-prover/tap/tamarin-prover` or similar)
 1. we can do the above but also manually provide binaries, by (i) getting someone on a mac/linux box to run `brew install --build

[2018-03-13 11:57] jdreier commented on #253
What is the problem with the first solution? I think as a research tool we can ask users to compile, in particular if that is the easiest to maintain.

[2018-03-13 11:59] katrielalex commented on #253
The compiles are very slow (>10min on my fancy desktop and ~1h on an older laptop), which is a bit of a pain e.g. for users attending the tutorial.

[2018-03-13 12:01] katrielalex commented on #253
@jdreier can you give me permission to create repositories in the `tamarin-prover` github organisation, so that I can transfer over the homebrew tap repo?

[2018-03-13 12:05] kmilner commented on #253
We can always host a tap and generate a bottle for it prior to tutorials. Or just manually generate a select bottle (for e.g. newest macos) every time there's a release and put it up.

You can tell homebrew where to look for a bottle, also, just need to generate one and add the hash to the formula in our tap.

[2018-03-13 12:13] jdreier commented on #253
@katrielalex you should now be able to create the repository.

[2018-03-13 12:19] jdreier commented on #253
Actually I don't mind compilation time too much, what I would like to avoid is to have an issue like this one at every release.

[2018-03-13 13:47] mpdehnel commented on #253
I completely agree! If we host our own tap (as Katriel is setting up) we
should avoid this issue for future releases as we can immediately allow
distribution of source (followed by local compilation per user), and as
soon as someone has got around to bottling it, add that to the brew formula
easily.

On Tue, Mar 13, 2018 at 12:19 PM, jdreier <notifications@github.com> wrote:

--
Martin

[2018-03-13 13:52] mpdehnel opened #254 "Release 1.2.3 has the wrong version number in `tamarin-prover --version`"
In [release 1.2.3](https://github.com/tamarin-prover/tamarin-prover/releases/tag/1.2.3) when you compile from source (or use the binary), and hit `tamarin-prover --version` (on macOS at least but I don't see why it would be different elsewhere) the reported version number is 1.3.1, not 1.2.3. This is obviously a bit confusing :-)

Should be an easy fix, thanks!

e.g. my terminal output shows:
[cod

[2018-03-13 13:53] rsasse commented on #254
Can you please do a make clean followed by make and let me know if this is still the case?

[2018-03-13 13:54] katrielalex commented on #253
I've built bottles for libbuddy, maude and tamarin-prover 1.2.3 on High Sierra and merged them in to `tamarin-prover/homebrew-tap`.

I think we should probably fix #254 before updating the manual, though, or else some users are going to get very confused. Once that's fixed I can recompile and bump the versions.

[2018-03-13 13:57] jdreier commented on #253
Does that also work for linuxbrew?

[2018-03-13 13:58] rsasse commented on #254
I cannot reproduce this under Linux (Ubuntu). I just did a checkout master, make clean, make, and this is the version I get:
tamarin-prover --versiontamarin-prover 1.2.3, (C) David Basin, Cas Cremers, Jannik Dreier, Simon Meier, Ralf Sasse, Benedikt Schmidt, ETH Zurich 2010-2017
Git revision: c1e439e112b2b4857996189f6d0192818d570af0, branch: master
Compiled at: 2018-03-13 13:57:03.204189 UTC

[2018-03-13 14:04] mpdehnel commented on #254
My bad -- I think I thought I only had one version in my path but there must have been two! Sorry, closing issue :-)

[2018-03-13 14:04] #254 closed

[2018-03-13 14:04] rsasse commented on #254
No worries, thanks for clearing this up quickly!

[2018-03-13 14:06] rsasse commented on #253
@katrielalex does this (or can this) include a bottle for graphviz as well?
The issue #254 is fixed.

[2018-03-13 14:08] mpdehnel commented on #253
HomeBrew automatically already includes a bottle for GraphViz.

[2018-03-13 14:08] katrielalex commented on #253
@rsasse [graphviz is in homebrew-core](https://github.com/Homebrew/homebrew-core/tree/master/Formula/graphviz.rb) so will be bottled automatically by the homebrew continuous integration
@jdreier if I understand linuxbrew correctly it will install from source at the moment, and I can make bottles for it at any point

[2018-03-13 14:11] mpdehnel commented on #253
I've just done `brew install tamarin-prover/tap/tamarin-prover` on a brand new Mac and it works perfectly. Thank you @katrielalex !

[2018-03-13 14:18] katrielalex commented on #253
@lordqwerty you understand linuxbrew, right? 😇 I get some weird cabal problems (story of my life) trying to build a linux bottle for tamarin-prover; does `brew install tamarin-prover/tap/tamarin-prover` work for you?

[2018-03-13 14:20] jdreier commented on #253
I am currently trying out linuxbrew. If you want compiled versions of the current release:
https://github.com/tamarin-prover/tamarin-prover/releases/tag/1.2.3

[2018-03-13 14:42] rsasse commented on #253
Same here, I am using the upgrade process as I had 1.2.2 installed with linuxbrew in the past. Will let you know what happens. It is taking a very long time though on the haskell-stack installation for me.

[2018-03-13 14:45] rsasse commented on #253
Note that on Linux I did not have to untap the old thing. I just tried a
brew install tamarin-prover/tap/tamarin-prover
which told me that I have an old version installed and should just use
brew upgrade
which is what is currently in progress on my machine. If this does not work, I will have to see about the untap first.

[2018-03-13 15:00] katrielalex commented on #253
Note that to work around an old Stack bug the from-source compile is (at least on macOS) limited to a single core. I think that bug is no longer present; I'm just testing but if it works then I'll drop the restriction and from-source compiles should get fast(er) again.

[2018-03-13 15:19] rsasse commented on #253
Well, the most amount of time was spent on installing stack (49min55s on my laptop). So, the 1 vs all core on Tamarin does not matter all that much (comparatively). But if we can fix it, that'd be good anyway.

[2018-03-13 15:47] rsasse commented on #253
Tamarin compile took 30 minutes, stack install about 50 minutes, all in all this took almost 2 hours on my laptop (using brew upgrade tamarin-prover), but it did work, and identifies itself correctly as 1.2.3.

[2018-03-15 09:50] jdreier commented on #253
For me it did not work, it failed to install maude:

[2018-03-15 09:58] katrielalex commented on #253
Weird. Are you able to compile maude manually from that source download, or do you get the same error?

[2018-03-15 09:59] jdreier commented on #253
I think he is lacking `bison`, can we add that to the dependencies?

[2018-03-15 10:04] jdreier commented on #253
When I try to install it manually it fails on a different error message:

[2018-03-15 10:05] katrielalex commented on #253
Oh right, that's `libbuddy` which _should_ be installed by homebrew.

I added bison as a linux dependency for maude, `brew update` and try now?

[2018-03-15 10:31] jdreier commented on #253
Now it continued until the installation of Tamarin, but failed with an error on SAPIC, I guess that might be a problem with the OCAML version?

[2018-03-15 10:38] mpdehnel commented on #253
This feels like Correspondence Chess. :-)

On Thu, Mar 15, 2018 at 10:31 AM, jdreier <notifications@github.com> wrote:

--
Martin

[2018-03-15 10:49] jdreier commented on #253
How can I find out which version of OCAML is used by linuxbrew?

[2018-03-15 10:57] katrielalex commented on #253
I think you can `brew install --debug` to drop into a shell when the installation fails, or more generally `brew install --interactive` to drop into a shell before starting the install. I guess you can then `ocamlc --version` in that shell, and try a `make` as well.

[2018-03-26 13:29] rsasse opened #255 "Let binding one variable name twice should raise a warning"
Currently, it is possible to give two different values to a variable in a let binding block. All but the last binding are ignored by Tamarin. This should raise a warning instead.

An example theory is below, using
  let X = '0'
      X = '1'
  in
with the result that X is always '1'.

-----------

theory doublelet
begin

rule doubleletbinding:
  let X = '0'
      X = '1'
  in
  [In (X) ]
--[ Exec(

[2018-04-21 18:30] galadran opened #259 "QOL: Warn on a high number of variants"
If a rule has a high number of variants (maybe >100?) then Tamarin should issue a warning.

Equally, there should probably be a section in the manual on what this means for the user and how to work around it (e.g. adding 'g' to DH rules).

[2018-05-04 14:41] rsasse opened #263 "Continuous integration does not work anymore."
Does anyone have an idea what to migrate to or what changes we need to do to re-enable this?

[2018-05-04 14:43] jdreier commented on #190
This issue is fixed with pull request #262.

[2018-05-04 14:43] #190 closed

[2018-05-04 14:46] jdreier commented on #198
This is fixed with #262.

[2018-05-04 14:46] #198 closed

[2018-05-04 15:00] katrielalex commented on #263
I'm running a test build on my fork and it's at least compiling on Travis, so I think it might be as simple as enabling the build on travis-ci.org (or .com, since they're migrating).

I particularly like the static "build passing" image in the readme ;)

[2018-05-04 15:26] katrielalex commented on #263
Still building. I don't have enough rights on the `tamarin-prover` repo to fiddle with the Travis integration unfortunately, but you could take a look at https://travis-ci.org/tamarin-prover/tamarin-prover and see if there's an obvious switch you could flip.

[2018-05-04 15:33] rsasse commented on #263
I think I managed to turn it on by following that link, logging in, and authorizing all the things. Then I flipped some switches.

So, the next pull request or direct commit will show whether that was enough.

[2018-05-04 15:34] rsasse commented on #263
Actually, this means we have to also check that the deployment of the website still works and that compiling the manual (and then pushing to website) is still ok.

[2018-05-04 15:36] katrielalex commented on #263
Ha, I also got a compile error since the OCAML build uses `sudo` but root wasn't requested in `.travis.yml`. Not sure why it was working before but, err, I'll see if I can fix that one.

[2018-05-04 15:38] rsasse commented on #263
If you do not have access rights, just make a PR please. Thanks a lot!

[2018-05-07 10:57] #263 closed

[2018-05-07 10:58] rsasse commented on #263
The above continuous integration problem is solved, and Tamarin is automatically compiled again. Thanks for your help @katrielalex !

[2018-05-07 12:33] rsasse opened #264 "Release 1.4.0 - add to package managers"
We have a new release, 1.4.0: https://github.com/tamarin-prover/tamarin-prover/releases/tag/1.4.0 and would like to distribute it via package managers again.

Is the MacOS/homebrew one automatic now @katrielalex ?

What's the state on linuxbrew @lordqwerty @jdreier ?

Could we get help again for Arch Linux @felixonmars and Nix/Nix OS @thoughtpolice please?

[2018-05-07 12:34] rsasse commented on #253
Further discussion can continue in the new "add to package manager" issue, #264

[2018-05-07 12:34] #253 closed

[2018-05-07 12:52] rsasse commented on #234
This has been fixed by commit 8e823691ad3325bce8921617b013735523d74557 and is included in stable 1.2.3 and 1.4.0 already.

[2018-05-07 12:52] #234 closed

[2018-05-07 13:25] felixonmars commented on #264
Arch package updated.

[2018-05-07 15:02] katrielalex commented on #264
The homebrew update isn't automatic (I have to make the binary) but it's easy; I can do it after the CCS deadline on Wednesday.

We should probably start a quick instructions sheet for how to do these updates, for future reference.

[2018-05-07 15:17] lordqwerty commented on #264
@katrielalex I'm building a Linux bottle, and will send across to you. In mean time I will PR the Formula for Tamarin and do the updates. Please build the Mac bottle after the CCS deadline and also update the SHA256 for Mac bottle.

Good luck!

[2018-05-07 15:45] katrielalex commented on #264
Thanks @lordqwerty! I made a `tamarin-prover-org` repo on Bintray so if you have an account there then I can add you and you can upload files yourself, otherwise you can send me the bottle and I'll do it later :)

In your PR you could also change `/katriel` to `/tamarin-prover-org`, I think that should work now and it's more futureproof.

[2018-05-07 16:18] thoughtpolice commented on #264
Upgraded to 1.4.0 in `nixpkgs-unstable`, as of https://github.com/NixOS/nixpkgs/commit/04002e2b7186c166af87c20da7a7ceb8c0edb021

[2018-05-07 19:06] lordqwerty commented on #264
Any thoughts?

[code]

This only happens under Linuxbrew build so I am wondering if I might be missing a dependency?

[2018-05-07 19:08] jdreier commented on #264
This looks like an issue with OCaml, maybe an incorrect version?

[2018-05-07 19:16] lordqwerty commented on #264
It's building under OCaml 4.06.01 which is more recent than my system installed one.

[2018-05-07 19:37] lordqwerty commented on #264
Solved. To do with the way Linuxbrew builds in parallel

[2018-05-07 20:51] katrielalex commented on #264
Oh bother, there used to be an Env.deparallelize but I thought it was old and unnecessary (it also made it really slow). You could put it back in if it fixes it, and maybe add a comment that it's to fix a linuxbrew error.

I invited you to the bintray org tamarin-prover-org.

[2018-05-08 08:15] lordqwerty commented on #264
https://github.com/tamarin-prover/homebrew-tap/pull/6 now addresses this. Need to build bottles still

[2018-05-17 09:25] felixonmars opened #265 "Doesn't build with GHC 8.4.2"
I got the following error when trying to compile tamarin-prover-utils-1.4.0:

[code]

[2018-05-18 07:19] rsasse commented on #265
Thanks for the report. We need to fix this once we upgrade the stack LTS to use ghc 8.4.2. Note that the latest one still uses 8.2.2, so this is not yet urgent. The error is likely due to the change that Semigroup is now a superclass of Monoid, see: https://ghc.haskell.org/trac/ghc/wiki/Migration/8.4#SemigroupMonoidsuperclasses
and we should look at
https://prime.haskell.org/wiki/Libraries/Proposa

[2018-05-28 08:56] mpdehnel opened #267 "Interactive mode cancellation issue"
When proving things in interactive mode, if you have chosen a few options, then hit `a` to send it down a particular path automatically, you can of course normally cancel this by hitting the cancel button in the bottom right hand corner.

However, if you click the red `x` next to a chosen goal (in the left hand panel), this winds back the choice, but annoyingly, does not cancel the ongoing computa

[2018-05-28 09:10] rsasse commented on #267
As far as I know, you must first cancel the running instance by hitting "cancel" before using the red x to undo some proof steps. Note that you can continue your proof even if there is a useless Tamarin instance running wild. You will of course see reduced performance, and this is not ideal.

The change for this should be possible in the JavaScript GUI side of things, to essentially call the "canc

[2018-05-28 10:36] katrielalex commented on #267
This is a more general "feature": while autoproving, if you do anything (e.g. navigate to a different goal), the cancel link will go away but the autoproof won't be cancelled.

I suggest the following "fix": replace the little proving dialog in the bottom right with a big grey box covering the entire screen, so that you can't do anything else in the UI while it's autoproving.

[2018-05-28 10:37] katrielalex commented on #267
Alternatively, I guess it might be possible to leave a more permanent "cancel" link somewhere in the UI that doesn't go away when you navigate around.